.personal-data-style {
  width: 131.27999pt;
  height: 15.36pt;
  left: #{440.43952 - 274.112}pt;
  top: #{10.35999 + 73.98}pt;
  position: absolute;
}
  
.personal-data-tab {
  width: 129.03999pt;
  height: 13.20001pt;
  left: 167.398pt;
  top: 85.5pt;
  position: absolute;
}
  
.personal-data-text {
  width: 103.49902pt;
  height: 9.8999pt;
  left: 189.137pt;
  top: 87.58pt;
  position: absolute;
}
  
.personal-data-box {
  width: 270.625pt;
  height: 86.89203pt;
  left: 26.1875pt;
  top: 85.50012pt;
  position: absolute;
}

.personal-data-line-1 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 115.636pt;
  position: absolute;
}

.personal-data-line-2 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 128.595pt;
  position: absolute;
}

.personal-data-line-3 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 141.554pt;
  position: absolute;
}

.personal-data-line-4 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 154.513pt;
  position: absolute;
}

.personal-data-line-5 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 167.472pt;
  position: absolute;
}

.name-primary-alias {
  width: 65.69434pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 107.738pt;
  position: absolute;
}

.metatype svg {
  width: 26.38281pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 120.678pt;
  position: absolute;
}

.metatype select {
  // width: #{153.168 - (43.248 + 26.38281)}pt;
  left: #{43.248 + 26.38281}pt;
  bottom: #{765 - 128.595}pt;
  position: absolute;
  overflow:hidden;
  font-size: 7pt;
  font-family: Friz Quadrata Std Regular;
  background: transparent;
  border: none;
}

.metatype option {
  // width: #{153.168 - (43.248 + 26.38281)}pt;
  // left: #{43.248 + 26.38281}pt;
  // bottom: #{765 - 128.595}pt;
  // position: absolute;
  // overflow:hidden;
  font-size: 7pt;
  font-family: Friz Quadrata Std Regular;
  background-color: #f1efee;
  // background-color: #eeeceb;
  border: none;
}

.ethnicity {
  width: 24.35986pt;
  height: 7.56006pt;
  left: 153.168pt;
  top: 120.678pt;
  position: absolute;
}

.age {
  width: 11.15088pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 132.921pt;
  position: absolute;
}

.sex {
  width: 10.76611pt;
  height: 7.56006pt;
  left: 97.126pt;
  top: 132.921pt;
  position: absolute;
}

.height {
  width: 18.33301pt;
  height: 7.56006pt;
  left: 151.013pt;
  top: 132.921pt;
  position: absolute;
}

.weight {
  width: 20.11768pt;
  height: 7.56006pt;
  left: 204.892pt;
  top: 132.921pt;
  position: absolute;
}

.street-cred {
  width: 31.25488pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 145.878pt;
  position: absolute;
}

.notoriety {
  width: 25.91357pt;
  height: 7.56006pt;
  left: 123.467pt;
  top: 145.878pt;
  position: absolute;
}

.public-awareness {
  width: 50.98047pt;
  height: 7.56006pt;
  left: 204.898pt;
  top: 145.878pt;
  position: absolute;
}

.karma {
  width: 18.0249pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 158.835pt;
  position: absolute;
}

.total-karma {
  width: 33.06787pt;
  height: 7.56006pt;
  left: 101.732pt;
  top: 158.835pt;
  position: absolute;
}

.misc {
  width: 14.18896pt;
  height: 7.56006pt;
  left: 175.169pt;
  top: 158.835pt;
  position: absolute;
}
