@import "../CharacterSheetSection/variables.scss";
@import "variables.scss";

.personal-data .character-sheet-section-body>div {
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  font-size: 7pt;
  font-weight: normal;
  
  // color: rgba(0, 255, 255, 0.5);
  
  @extend %underline;
  
  margin-bottom: 3.3pt;

  display: flex;
}

.personal-data label {
  display: flex;
}

.personal-data label.name-primary-alias {
  flex-grow: 1;
}

.personal-data input {
  font-size: 7pt;
  line-height: 7pt;
  flex-grow: 1;
}

.personal-data select {
  font-size: 6pt;
  line-height: 6pt;
}

.personal-data label.metatype {
  width: $metatype-width;
}

.personal-data label.ethnicity {
  flex-grow: 1;
}

.personal-data label.age {
  width: $age-width;
}

.personal-data label.sex {
  width: $sex-width;
}

.personal-data label.height {
  width: $height-width;
}

.personal-data label.weight {
  flex-grow: 1;
}

.personal-data label.street-cred {
  width: $street-cred-width;
}

.personal-data label.notoriety {
  width: $notoriety-width;
}

.personal-data label.public-awareness {
  flex-grow: 1;
}

.personal-data label.karma {
  width: $karma-width;
}

.personal-data label.total-karma {
  width: $total-karma-width;
}

.personal-data label.misc {
  flex-grow: 1;
}
