@import "variables.scss";

.character-sheet {
  @media screen {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
    overflow: auto;
  }

  @media print {
    background: transparent;
    overflow: visible;

  }
}

.character-sheet-page {
  height: $page-height;
  width: $page-width;

  position: relative;
  background-image: url("./Background.svg");
  background-size: $background-width $background-height;
  background-position: $background-offset-x $background-offset-y;
  
  @media screen {
    box-shadow: 1px 1px 3px 1px #333333;
    margin: 13px auto;
  }
  
  @media print {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
    page-break-inside: avoid;
  }
}

.background {
  width: $background-width;
  height: $background-height;
  left: $background-offset-x;
  top: $background-offset-y;
  position: absolute;
}

.rendered {
  background-size: $page-width $page-height;
}

.rendered:nth-child(1) {
  background-image: url('CAT27000_Shadowrun_5_Character_Sheet_Page_1.png');
  // background-size: auto;
  background-position: unset;
}

.rendered:nth-child(2) {
  background-image: url('CAT27000_Shadowrun_5_Character_Sheet_Page_2.png');
  // background-size: auto auto;
  background-position: initial;
}

.sections {
  position: relative;
  left: $sections-left;
  top: $sections-top;
  width: $sections-width;
  height: $sections-height;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.character-sheet input {
  font-family: Friz Quadrata Std Regular;
  text-overflow: ellipsis;
  overflow: hidden;

  background-color: transparent;
  padding: 0pt;
  border: none;
  margin: 0pt;
}

.character-sheet select {
  font-family: Friz Quadrata Std Regular;
  background: transparent;
  border: none;
}

.character-sheet option {
  font-family: Friz Quadrata Std Regular;
  background: transparent;
  background-color: #f1efee;
  padding: 0pt;
  border: none;
}
