$page-width: 612pt; // 8.5in
$page-height: 765pt; // 10.625in

$background-width: 642.66701pt;
$background-height: 783.00005pt;
$background-offset-x: -10.03023pt;
$background-offset-y: -9pt;

$section-width: 270.75pt;

$sections-top: 85.50012pt;
$sections-height: 724.306pt - $sections-top;
$sections-left: 26pt;
$sections-column-gap: 315.312pt - $section-width - $sections-left;
$sections-width: 2 * $section-width + $sections-column-gap;

$line-color: #6d6e70;
// $line-color: rgba(0, 255, 255, 0.5);

%underline {
  border-color: $line-color;
  border-bottom-width: 0.75pt;
  border-bottom-style: solid;
}
