$page-width: 612pt; // 8.5in
$page-height: 765pt; // 10.625in

$background-width: 642.66701pt;
$background-height: 783.00005pt;
$background-offset-x: -10.03023pt;
$background-offset-y: -9pt;

$sections-top: 85.50012pt;
$section-width: 270.625pt;
$section-left: 26.1875pt;
$section-column-gap: 315.312pt - $section-width - $section-left;
