@mixin create-font-face($name) {
  @font-face {
    font-family: $name;
    src: url(#{$name}.woff) format('woff');
  }
}

@mixin media-units($name, $value) {
  @media screen {
    #{$name}: #{$value}px;
  }
  @media print {
    #{$name}: #{$value}pt;
  }
}

@mixin bottom($bottom) {
  @include media-units(bottom, $bottom);
}

@mixin column-gap($column-gap) {
  @include media-units(column-gap, $column-gap);
}

@mixin column-width($column-width) {
  @include media-units(column-width, $column-width);
}

@mixin font-size($font-size) {
  @include media-units(font-size, $font-size);
}

@mixin height($height) {
  @include media-units(height, $height);
}

@mixin left($left) {
  @include media-units(left, $left);
}

@mixin letter-spacing($letter-spacing) {
  @include media-units(letter-spacing, $letter-spacing);
}

@mixin margin-bottom($margin-bottom) {
  @include media-units(margin-bottom, $margin-bottom);
}

@mixin margin-left($margin-left) {
  @include media-units(margin-left, $margin-left);
}

@mixin margin-right($margin-right) {
  @include media-units(margin-right, $margin-right);
}

@mixin margin-top($margin-top) {
  @include media-units(margin-top, $margin-top);
}

@mixin padding-right($padding-right) {
  @include media-units(padding-right, $padding-right);
}

@mixin right($right) {
  @include media-units(right, $right);
}

@mixin top($top) {
  @include media-units(top, $top);
}

@mixin width($width) {
  @include media-units(width, $width);
}

@include create-font-face(copyright);
@include create-font-face(header);
@include create-font-face(heading);
@include create-font-face(title);
@include create-font-face(type);

// Colors
$text: rgb(39, 36, 37);
$title-text: rgb(255, 255, 255);
$page-background: rgb(255, 255, 255);
$page-shadow: rgb(51, 51, 51);

// Dimensions
$page-width: 612;
$page-height: 765;
$stats-width: 2330;
$stats-column-width: 1128;
$skills-width: 1034;
$skills-column-width: 497;

%no-boundary {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.pdf {
  @media screen {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
    overflow: auto;
  }
  @media print {
    background: transparent;
    overflow: visible;

  }
}

.pdf-page {
  @include height($page-height);
  @include width($page-width);
  background-color: $page-background;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  @media screen {
    box-shadow: 1px 1px 3px 1px $page-shadow;
    margin: 13px auto;
  }
  @media print {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
    page-break-inside: avoid;
  }

  &:nth-child(1) {
    background-image: url('./CAT27000_Shadowrun 5_CharacterSheet Front.png');
  }

  &:nth-child(2) {
    background-image: url('./CAT27000_Shadowrun 5_CharacterSheet Back.png');
  }
}

.pdf-page-content {
  @include height(3188);
  @include width(2550);
  opacity: 0.5;
  transform: scale(0.24);
  transform-origin: left top;

  &::before {
    opacity: 0;
    user-select: none;
    width: 100%;


    .pdf-page:nth-child(1)
    & {
      content: url('./character-sheet-front.png');
    }

    .pdf-page:nth-child(2)
    & {
      content: url('./character-sheet-back.png');
    }
  }
}

.copyright {
  @include bottom(57);
  // 24.75 works best, but it causes Safari to split the text between
  // multiple lines.
  // 24.5 is where Safari splits the text onto a second line.
  @include font-size(24.49999);
  @include height(24);
  @include left(354);
  @include width(1849);
  color: $text;
  font-family: copyright;
  line-height: 0.8;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  text-align-last: justify;

  // Once Safari 8 is no longer supported we can add the feature query.
  // Unfortunately, Safari 8 neither supports feature queries nor
  // text-align-last.
  // @supports not (text-align-last: justify) {
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  // }
}

.name {
  @include font-size(34);
  @include height(162);
  @include width(909);
  @include right(116);
  @include top(100);
  color: $text;
  font-family: header;
  text-transform: uppercase;
  position: absolute;

  fieldset {
    @extend %no-boundary;
    @include height(54.5);
    position: relative;
  }

  label {
    @include bottom(0);
    @include letter-spacing(-0.75);
    line-height: 0.8;
    position: absolute;
  }

  input {
    @extend %no-boundary;
    @include bottom(-1);
    @include font-size(33);
    @include height(41);
    @include right(0);
    background-color: transparent;
    position: absolute;
  }
}

[name=character-name] {
  .line {
    @include letter-spacing(-4.8);
    @include margin-left(3);
  }

  input {
    @include width(642);
  }
}

[name=player-name] {
  .line {
    @include letter-spacing(-5.15);
    @include margin-left(10);
  }

  input {
    @include width(723);
  }
}

[name=notes] {
  .line {
    @include letter-spacing(-5.2);
    @include margin-left(10);
  }

  input {
    @include width(750);
  }
}

.stats {
  @include column-gap(($stats-width - (2 * $stats-column-width)));
  @include column-width($stats-column-width);
  @include font-size(24);
  @include width($stats-width);
  column-count: 2;
  column-fill: auto;
  position: absolute;

  .pdf-page:nth-child(1)
  & {
    @include height(2662);
    @include left(109);
    @include top(356);
  }

  .pdf-page:nth-child(2)
  & {
    @include height(2750);
    @include left(110);
    @include top(314);
  }
}

.stat-block {
  @include margin-bottom(36);
  @include width($stats-column-width);
  break-inside: avoid;
  position: relative;

  .pdf-page:nth-child(1)
  &:nth-child(1) {
    @include height(362);
  }

  .pdf-page:nth-child(1)
  &:nth-child(2) {
    @include height(711);
  }

  .pdf-page:nth-child(1)
  &:nth-child(3) {
    @include height(1058);
  }

  .pdf-page:nth-child(1)
  &:nth-child(4) {
    @include height(422);
  }

  .pdf-page:nth-child(1)
  &:nth-child(5) {
    @include height(412);
  }

  .pdf-page:nth-child(1)
  &:nth-child(6) {
    @include height(1137);
  }

  .pdf-page:nth-child(1)
  &:nth-child(7) {
    @include height(584);
  }

  .pdf-page:nth-child(1)
  &:nth-child(8) {
    @include height(421);
  }

  .pdf-page:nth-child(2)
  &:nth-child(1) {
    @include height(478);
  }

  .pdf-page:nth-child(2)
  &:nth-child(2) {
    @include height(501);
  }

  .pdf-page:nth-child(2)
  &:nth-child(3) {
    @include height(575);
  }

  .pdf-page:nth-child(2)
  &:nth-child(4) {
    @include height(1087);
  }

  .pdf-page:nth-child(2)
  &:nth-child(5) {
    @include height(478);
  }

  .pdf-page:nth-child(2)
  &:nth-child(6) {
    @include height(501);
  }

  .pdf-page:nth-child(2)
  &:nth-child(7) {
    @include height(428);
  }

  .pdf-page:nth-child(2)
  &:nth-child(8) {
    @include height(631.5);
  }

  .pdf-page:nth-child(2)
  &:nth-child(9) {
    @include height(567);
  }
}

.stat-title-box {
  @include height(54);
  @include top(0);
  position: absolute;

  .stat-column-left
  & {
    @include right(0);
  }

  .stat-column-left
  & {
    @include left(0);
  }
}

.stat-title {
  @include font-size(38);
  @include letter-spacing(-0.4);
  color: $title-text;
  font-family: title;
  font-variant: small-caps;
  line-height: 0.8;
  text-transform: uppercase;
  white-space: nowrap;


  .stat-column-left
  & {
    @include margin-right(18);
    @include margin-top(14.25);
    text-align: right;
  }

  .stat-column-right
  & {
    @include margin-top(14.25);
    text-align: left;
  }

  .pdf-page:nth-child(1)
  .stat-column-right
  & {
    @include margin-left(18.5);
  }

  .pdf-page:nth-child(2)
  .stat-column-right
  & {
    @include margin-left(22);
  }

  .pdf-page:nth-child(1)
  .stat-block:nth-child(8)
  .stat-column-right
  & {
    @include margin-left(25);
  }

  .pdf-page:nth-child(2)
  .stat-block:nth-child(8)
  & {
    @include font-size(34);
    @include letter-spacing(-1.55);
    @include margin-top(8);
    line-height: 1.16;
  }

  .pdf-page:nth-child(2)
  .stat-block:nth-child(9)
  .stat-column-right
  & {
    @include margin-left(25);
  }

  .pdf-page:nth-child(2)
  .stat-block:nth-child(9)
  & span:nth-child(1) {
    @include letter-spacing(-1.2);
    @include margin-left(-2);
  }

  .pdf-page:nth-child(2)
  .stat-block:nth-child(9)
  & span:nth-child(2) {
    @include letter-spacing(-2);
    @include margin-left(-5.5);
    @include margin-right(-7);
  }

  .pdf-page:nth-child(2)
  .stat-block:nth-child(9)
  & span:nth-child(3) {
    @include letter-spacing(-1.1);
  }
}

.stat-title-small-caps {
  @include font-size(30);
  text-transform: uppercase;
}

.skill-block {
  @include column-gap(($skills-width - (2 * $skills-column-width)));
  @include column-width($skills-column-width);
  @include height(943);
  @include left(50);
  @include top(84);
  @include width($skills-width);
  column-count: 2;
  column-fill: auto;
  overflow: hidden;
  position: relative;
}

.skill-block-heading {
  @include font-size(24);
  @include height(42);
  @include width($skills-column-width);
  font-family: heading;
  color: $text;
  break-inside: avoid;
  line-height: 1.85;
}

.skill {
  $padding: 1;
  @include height(49.6);
  @include font-size(25);
  @include letter-spacing(3.8);
  @include padding-right($padding);
  @include width($skills-column-width - $padding);
  break-inside: avoid;
  color: $text;
  font-family: type;
  line-height: 2.55;
  text-align: right;

  &:nth-child(19n + 2) {
    @include height(42);
    line-height: 1.95;
  }
}