html {
    margin: 0;
}

body {
    margin: 0;
}

.pdf-page {
    background-color: white;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
}

@media screen {
    .pdf {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
        overflow: auto;
    }

    .pdf-page {
        width: 612px;
        height: 765px;
        margin: 13px auto;
        box-shadow: 1px 1px 3px 1px #333333;
    }

    .background {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
}

@media print {
    .pdf {
        overflow: visible;
        background: transparent;
    }

    .pdf-page {
        width: 612pt;
        height: 765pt;
        margin: 0pt;
        box-shadow: none;
        page-break-after: always;
        page-break-inside: avoid;
    }
}