html {
    margin: 0;
}

body {
    margin: 0;
}

.pdf-page {
    background-color: white;
    overflow: hidden;
    position: relative;
}

#character-sheet-front {
    background-image: url("CAT27000_Shadowrun 5_CharacterSheet Front.png");
}

#character-sheet-back {
    background-image: url("CAT27000_Shadowrun 5_CharacterSheet Back.png");
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}

@font-face {
    font-family: copyright;
    src: url(copyright.woff) format("woff");
}

.copyright {
    font-family: copyright;
    position: absolute;
    text-align: justify;
    white-space: nowrap;
}

.text-black {
    color: #272425;
}

@media screen {
    .pdf {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
        overflow: auto;
    }

    .pdf-page {
        width: 612px;
        height: 765px;
        margin: 13px auto;
        box-shadow: 1px 1px 3px 1px #333333;
        background-size: 612px 765px;
    }

    .background {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    /* The copyright message is intentionally slightly off center */
    .copyright {
        font-size: 6px;
        left: 85px;
        bottom: 13.5px;
        width: 444px;
    }
}

@media print {
    .pdf {
        overflow: visible;
        background: transparent;
    }

    .pdf-page {
        width: 612pt;
        height: 765pt;
        margin: 0pt;
        box-shadow: none;
        background-size: 612pt 765pt;
        page-break-after: always;
        page-break-inside: avoid;
    }

    /* The copyright message is intentionally slightly off center */
    .copyright {
        font-size: 6pt;
        left: 85pt;
        bottom: 13.5pt;
        width: 444pt;
    }
}