.vehicle-box {
  position: absolute;
  width: 270.625pt;
  height: 102.70602pt;
  left: 314.9375pt;
  top: 327.6514pt;
}

.vehicle-tab {
  position: absolute;
  width: 86.03998pt;
  height: 13.20001pt;
  left: 315.312pt;
  top: 327.651pt;
}

.vehicle-style {
  position: absolute;
  width: 88.32pt;
  height: 15.36pt;
  left: #{244.84003 + 69.332}pt;
  top: #{29.32034 + 297.251}pt;
}

.vehicle-text {
  position: absolute;
  width: 52.91895pt;
  height: 9.8999pt;
  left: 320.47pt;
  top: 329.731pt;
}

%vehicle-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 331.997pt;
}

.vehicle-line-1 {
  @extend %vehicle-line;
  top: 357.787pt;
}

.vehicle-line-2 {
  @extend %vehicle-line;
  top: 370.746pt;
}

.vehicle-line-3 {
  @extend %vehicle-line;
  top: 383.706pt;
}

.vehicle-line-4 {
  @extend %vehicle-line;
  top: 396.665pt;
}

.vehicle-line-5 {
  @extend %vehicle-line;
  top: 409.624pt;
}

.vehicle-line-6 {
  @extend %vehicle-line;
  top: 422.583pt;
}

.vehicle-name {
  position: absolute;
  width: 21.12598pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 349.442pt;
}

.vehicle-handling {
  position: absolute;
  width: 25.2002pt;
  height: 7.56006pt;
  left: 439.86pt;
  top: 349.442pt;
}

.vehicle-acceleration {
  position: absolute;
  width: 36.21094pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 362.777pt;
}

.vehicle-speed {
  position: absolute;
  width: 17.61914pt;
  height: 7.56006pt;
  left: 447.428pt;
  top: 362.777pt;
}

.vehicle-pilot {
  position: absolute;
  width: 12.96387pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 375.363pt;
}

.vehicle-body {
  position: absolute;
  width: 14.18164pt;
  height: 7.56006pt;
  left: 450.864pt;
  top: 375.363pt;
}

.vehicle-sensor {
  position: absolute;
  width: 19.49512pt;
  height: 7.55957pt;
  left: 445.559pt;
  top: 388.32pt;
}

.vehicle-armor {
  position: absolute;
  width: 17.22656pt;
  height: 7.55957pt;
  left: 331.997pt;
  top: 388.32pt;
}

.vehicle-notes {
  position: absolute;
  width: 16.45703pt;
  height: 7.55957pt;
  left: 331.997pt;
  top: 401.655pt;
}

// Style from VehicleBox.svg

.e701aff4-0fda-45d4-85c6-1688ee5c8496 {
  fill: url(#bbfc9090-d113-4d32-9872-77e63188732b);
}

.a2f53529-00b2-4181-bb84-3c98be04934f {
  fill: url(#b2bcea7d-4716-412c-acf0-2fc51e2d0187);
}

.a8393733-b431-42f4-a3f2-50c314f96c20, .b06a0175-d02a-4d68-9397-a45897b28109, .e503417b-e452-40c2-9423-1a92e70c82b2 {
  fill: none;
}

.e5516720-9b7a-40d0-85d0-8bddf36be941 {
  clip-path: url(#f41e5b82-0459-4b6f-89ce-0877b21d550b);
}

.f0097cb1-a8ab-4218-b797-01268fb30bd2 {
  mask: url(#b510d394-8a2a-49a8-9399-73f0a809cc15);
}

.e5af5ba2-f14d-447c-9ed3-f31324c7e417 {
  clip-path: url(#a9df816a-76bc-42ef-8d51-5d6af1826900);
}

.b06a0175-d02a-4d68-9397-a45897b28109, .e503417b-e452-40c2-9423-1a92e70c82b2 {
  stroke: #7e0f12;
}

.e503417b-e452-40c2-9423-1a92e70c82b2 {
  stroke-width: 0.75px;
}

.aa739c44-47f1-4d5f-bb7d-73b00e88b5fb {
  clip-path: url(#a1dc987c-496a-4679-b5b9-1401c094f248);
}

// Style from VehicleTab.svg

.bc1b6379-26e7-428c-8a27-b763d809a033 {
  fill: #7e0f12;
}

// Style from VehicleStyle.svg

.adea38aa-02ad-4e2e-9d92-a0a3215ecf1e {
  fill: none;
}

.a046315d-d930-4b8d-abe0-c3c9dd05b92f {
  isolation: isolate;
}

.fc70b616-0015-4e3f-b5db-01d7a5e44c02 {
  clip-path: url(#aa2cbe64-9466-4855-8b5b-03b71c7d8f62);
}

.b4133e73-aad2-4776-ac1f-f8dec0809851 {
  opacity: 0.35001;
  mix-blend-mode: multiply;
}

.a81e1c2a-b191-43f9-8df1-b96c216515cf {
  clip-path: url(#a4537e20-dabe-4e45-9911-5da1a15304d8);
}

.aca7baea-a56e-45a4-b378-85b3914d9c5b {
  clip-path: url(#baca7256-aaa4-4ed1-aaca-b059ef77c265);
}

// Style from VehicleText.svg

.a6495747-1d20-4189-8ce8-9ab020ef6bed {
  font-size: 9px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
}

// Style from VehicleLine.svg

.b7d46218-c6b2-406a-add5-a571a1c8d610 {
  fill: none;
  stroke: #6d6e70;
  stroke-width: 0.75px;
}

// Style from VehicleName.svg

.addf0d42-8fce-49e9-9524-61a88a9d59c6 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.acf42340-5848-4efa-bc17-cce71d3cd1a0 {
  letter-spacing: -0.04688em;
}

.be2b47ae-8bde-48ca-ad2d-e4e8e1372055 {
  letter-spacing: -0.00907em;
}

.a5ca6aa8-c885-4ef0-bb19-66b387c2a997 {
  letter-spacing: -0.01004em;
}

.b19ff1bb-bfce-4f00-9d00-e8a9b5e4f039 {
  letter-spacing: -0.00893em;
}

// Style from VehicleHandling.svg

.ada90ed1-56e6-44ef-8ed0-d9939567dc5a {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.e4f5e8bc-daa3-4a52-abf8-e8c98fbd16c0 {
  letter-spacing: -0.01004em;
}

.f7bf5452-6b20-41a4-a95b-694770b41cac {
  letter-spacing: -0.00893em;
}

.ec51d16c-dd76-4b4f-86f5-2d83e4688841 {
  letter-spacing: -0.00907em;
}

// Style from VehicleAcceleration.svg

.fc3716ba-a49a-42bd-887a-029795416bb7 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.bf7a0189-f7e8-43d6-abd9-9ab83d9fc94e {
  letter-spacing: -0.01004em;
}

.f457c741-a445-49d3-bb17-af266fc66be9 {
  letter-spacing: -0.00893em;
}

.e4f90d3f-1f6a-4494-9b49-447c35f8e754 {
  letter-spacing: -0.00907em;
}

.e095bcfd-4965-4321-b3d5-499252cdf70d {
  letter-spacing: -0.00991em;
}

// Style from VehicleSpeed.svg

.a19f9763-3f26-450c-ad04-04c3ffa2c490 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.fa2a3639-eb63-4cff-baa8-41cd92ed546c {
  letter-spacing: -0.00991em;
}

.e50e52fb-df45-410f-ab8b-816cfdebdb9d {
  letter-spacing: -0.00893em;
}

.a88cd14a-643e-463a-b59a-bb54f72a9667 {
  letter-spacing: -0.01004em;
}

// Style from VehiclePilot.svg

.a99d2002-54b2-47fe-a6d7-ae5e537662ed {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.b50b5a68-4307-4f80-8d1c-0e39bbccb0b9 {
  letter-spacing: -0.00991em;
}

.af73b741-4bcf-41b0-93d9-90f065bd1cae {
  letter-spacing: -0.00907em;
}

.e0621fc7-a76f-471b-a197-75d6125c3035 {
  letter-spacing: -0.01004em;
}

// Style from VehicleBody.svg

.e74f9089-bdc3-485f-a3be-d5660e17a3b0 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.bf9d1861-b340-4b3b-a72b-7b5cfb72642c {
  letter-spacing: -0.01004em;
}

.af6ba785-0726-4328-9a1d-c30a6b9aac7b {
  letter-spacing: -0.00893em;
}

// Style from VehicleSensor.svg

.b8155bb1-7912-444b-9b33-34d26cdfbe74 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.a3ba22fc-ba14-4263-bb3e-ba86fd3b6bce {
  letter-spacing: -0.00991em;
}

.b5c84e0c-286b-4d9f-9e3c-df028ade0982 {
  letter-spacing: -0.00893em;
}

.f0deed51-b49f-4733-a737-f69acb27a20a {
  letter-spacing: -0.01004em;
}

// Style from VehicleArmor.svg

.a56b3e9f-7c63-4d72-8f76-95f1a61de587 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.a808bdfd-9e98-4738-8b93-984b633c1038 {
  letter-spacing: -0.01004em;
}

.bd0353a3-82cb-41a6-b433-f267ec160e87 {
  letter-spacing: -0.00907em;
}

// Style from VehicleNotes.svg

.a9c98cfc-eed2-4eb1-9fb4-86d485749539 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
  letter-spacing: -0.00907em;
}

.a1b6e841-e298-4c75-b177-bf60afff13cc {
  letter-spacing: -0.00991em;
}

.b158dc3a-c33c-4233-862c-6226bbb76909 {
  letter-spacing: -0.01004em;
}

.e5cda130-532a-4eb8-967b-cf790c358dd8 {
  letter-spacing: 0.00014em;
}
