.armor-box {
  position: absolute;
  width: 270.625pt;
  height: 119.04001pt;
  left: 26.4375pt;
  top: 198.93378pt;
}

.armor-tab {
  position: absolute;
  width: 144.03999pt;
  height: 13.20001pt;
  left: 152.648pt;
  top: 198.934pt;
}

.armor-style {
  position: absolute;
  width: 146.40002pt;
  height: 15.36pt;
  left: #{215.79997 - 64.332 }pt;
  top: #{29.31982 + 168.534}pt;
}

.armor-text {
  position: absolute;
  width: 43.91943pt;
  height: 9.8999pt;
  left: 248.967pt;
  top: 201.014pt;
}

%armor-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 43.497pt;
}

.armor-line-1 {
  @extend %armor-line;
  top: 229.07pt;
}

.armor-line-2 {
  @extend %armor-line;
  top: 242.029pt;
}

.armor-line-3 {
  @extend %armor-line;
  top: 254.988pt;
}

.armor-line-4 {
  @extend %armor-line;
  top: 267.947pt;
}

.armor-line-5 {
  @extend %armor-line;
  top: 280.906pt;
}

.armor-line-6 {
  @extend %armor-line;
  top: 293.865pt;
}

.armor-line-7 {
  @extend %armor-line;
  top: 306.824pt;
}

.armor-name {
  position: absolute;
  width: 17.24072pt;
  height: 7.56006pt;
  left: 43.498pt;
  top: 218.638pt;
}

.armor-rating {
  position: absolute;
  width: 17.94775pt;
  height: 7.56006pt;
  left: 155.309pt;
  top: 218.638pt;
}

.armor-notes {
  position: absolute;
  width: 16.45703pt;
  height: 7.56006pt;
  left: 236.571pt;
  top: 218.638pt;
}

// // Style from ArmorBox.svg

// .f8586a97-3fad-45a5-a347-79d6c0fb2bc7 {
//   fill: url(#e50dd9ef-f628-40b6-869d-497a5d460e2a);
// }

// .b61c940d-12ad-4be0-b7c7-f8385b30bb1f {
//   fill: url(#a39af755-d3d6-4f6c-b130-41db6d66c05d);
// }

// .ae91c73e-697e-49db-afcc-42f996b658b0, .b668d0ef-43b0-4825-ad9a-83679ba8f114, .b86b3329-8a99-481f-aa47-b2d0f15b746f {
//   fill: none;
// }

// .ba5d850c-55ef-4cd8-a7a0-f7ff0b06f075 {
//   clip-path: url(#b8774daf-dea4-4a7d-af76-d7379a2ee528);
// }

// .b0cb7949-a69f-44c4-910b-4deb29589ac3 {
//   mask: url(#a4736bf4-c635-486d-801c-2d14660d2d7c);
// }

// .bea2a43b-4012-44b9-b8b6-15662b75f2ef {
//   clip-path: url(#b98e6d94-7204-4a74-b3ae-861909146bc6);
// }

// .ae91c73e-697e-49db-afcc-42f996b658b0, .b86b3329-8a99-481f-aa47-b2d0f15b746f {
//   stroke: #7e0f12;
// }

// .ae91c73e-697e-49db-afcc-42f996b658b0 {
//   stroke-width: 0.75px;
// }

// .f2d874f3-f34f-4bfb-bc87-85f7ba38f2c9 {
//   clip-path: url(#a79ae0b7-1aa4-4395-8772-1870de7e95a4);
// }

// // Style from ArmorTab.svg

// .fbb0c1a1-30b4-4b75-9cf7-9bd10ec82b67 {
//   fill: #7e0f12;
// }

// // Style from ArmorStyle.svg

// .a8c67658-dd86-4941-b877-87c909c79c15 {
//   fill: none;
// }

// .b5db5de4-272e-4594-8241-86ce717971cd {
//   isolation: isolate;
// }

// .b26aad69-f3d5-4db8-b7ad-888427d35ff7 {
//   clip-path: url(#a5c73bf2-eb4a-4424-962d-b6d95ffb7f27);
// }

// .bdaafbe1-b401-4474-97d7-91d220a23f76 {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .a1801c34-5f86-4aa7-bcd3-55159b343844 {
//   clip-path: url(#b1aec530-0a9b-41c0-81b4-e169bfd137d9);
// }

// .b48af72d-76d2-48b6-89d0-9556a0492a4b {
//   clip-path: url(#a13eb5d3-7428-455d-a600-840a5e4c3f4c);
// }

// // Style from ArmorText.svg

// .f91b8a5a-1ba4-4b2c-98dd-98fbd9e8d65f {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from ArmorLine.svg

// .f259872c-788f-49cb-8b4a-19e5301109f3 {
//         fill: none;
//         stroke: #6d6e70;
//         stroke-width: 0.75px;
//       }

// // Style from ArmorName.svg

// .a5926443-661b-4b96-be67-122d04e51c16 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a61d5b6b-cdb8-4ddc-8d6d-af26b89cf2b1 {
//   letter-spacing: -0.009em;
// }

// // Style from ArmorRating.svg

// .a5df56eb-1e35-4410-92c8-3df33c4fb6ef {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .beffc541-480d-4ffc-a176-c86255924181 {
//   letter-spacing: -0.01004em;
// }

// .a4699941-33b6-4aa3-99e2-cefbd3a85a56 {
//   letter-spacing: -0.009em;
// }

// .a72f239b-4354-42c8-b900-27bd0f35f932 {
//   letter-spacing: -0.00997em;
// }

// .f0e41410-1d43-41c5-85a6-497efa17c318 {
//   letter-spacing: -0.00893em;
// }

// // Style from ArmorNotes.svg

// .a92a456e-8866-48a5-8725-9342b43ac508 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b5d648c4-5c8f-4df2-ad13-09edd6fdc57e {
//   letter-spacing: -0.009em;
// }

// .ba663447-63a7-4aae-afaf-957cab8082eb {
//   letter-spacing: -0.00997em;
// }
