.qualities-text {
  position: absolute;
  width: 67.13965pt;
  height: 9.89941pt;
  left: 319.305pt;
  top: 476.461pt;
}

.qualities-tab {
  position: absolute;
  width: 93.03998pt;
  height: 13.20001pt;
  left: 315.188pt;
  top: 474.393pt;
}

.qualities-style {
  position: absolute;
  width: 95.28pt;
  height: 15.36pt;
  left: #{6.27951 + 307.738}pt;
  top: #{10.36029 + 462.873}pt;
}

.qualities-box {
  position: absolute;
  width: 271pt;
  height: 135.33109pt;
  left: 314.4375pt;
  top: 474.39331pt;
}

%qualities-line {
  position: absolute;
  width: 249.89502pt;
  height: 0.75pt;
  left: 321.597pt;
}

.qualities-line-1 {
  @extend %qualities-line;
  top: 503.327pt;
}

.qualities-line-2 {
  @extend %qualities-line;
  top: 513.336pt;
}

.qualities-line-3 {
  @extend %qualities-line;
  top: 524.004pt;
}

.qualities-line-4 {
  @extend %qualities-line;
  top: 534.673pt;
}

.qualities-line-5 {
  @extend %qualities-line;
  top: 545.341pt;
}

.qualities-line-6 {
  @extend %qualities-line;
  top: 556.009pt;
}

.qualities-line-7 {
  @extend %qualities-line;
  top: 566.677pt;
}

.qualities-line-8 {
  @extend %qualities-line;
  top: 577.345pt;
}

.qualities-line-9 {
  @extend %qualities-line;
  top: 588.013pt;
}

.qualities-line-10 {
  @extend %qualities-line;
  top: 598.681pt;
}

.qualities-line-11 {
  @extend %qualities-line;
  top: 609.349pt;
}

.qualities-quality {
  position: absolute;
  width: 16.64355pt;
  height: 6.48047pt;
  left: 321.598pt;
  top: 495.535pt;
}

.qualities-notes {
  position: absolute;
  width: 13.87207pt;
  height: 6.48047pt;
  left: 461.733pt;
  top: 495.535pt;
}

.qualities-t {
  position: absolute;
  width: 3pt;
  height: 6.48047pt;
  left: 556.84pt;
  top: 495.535pt;
}

.qualities-ype {
  position: absolute;
  width: 8.43555pt;
  height: 6.48047pt;
  left: 559.18pt;
  top: 495.535pt;
}

.positive-negative {
  position: absolute;
  width: 8.44141pt;
  height: 102.2168pt;
  left: 558.22266pt;
  top: 506.52344pt;
}

// // Style from QualitiesText.svg

// .e7fb2af3-55e6-43ca-a0f3-1ff9db6465f0 {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from QualitiesTab.svg

// .ec1db8a7-47d4-4794-92a4-c1efc2b4022e {
//   fill: #7e0f12;
// }

// // Style from QualitiesStyle.svg

// .f32f965f-d886-4ab7-a5d5-cbf97601e50b {
//   fill: none;
// }

// .b43d2423-d08b-4c67-8304-83defc1ff28d {
//   isolation: isolate;
// }

// .f7b25d85-f87c-45e3-a116-b2e13c9431b9 {
//   clip-path: url(#a297bba8-dca3-4017-a0e1-0adf5a55b748);
// }

// .bb3ec2f6-c05b-43ef-8de0-f22fb782ecd1 {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .a25acf73-dfde-4c75-bf12-7135cc3fb5fb {
//   clip-path: url(#fc2d00b3-c5c6-4dae-bea3-d3215d266da5);
// }

// .b847aa47-7a4a-4723-92bf-adb5730c5b53 {
//   clip-path: url(#bb1e0c0c-ad80-4934-b1f5-5b02df9d0488);
// }

// // Style from QualitiesBox.svg

// .b4916e83-e72f-4d83-a021-d077c2752688 {
//   fill: url(#b847d804-fdc9-4478-b9fb-58abb408eb3a);
// }

// .f3d96a25-223d-4468-9aa0-00a336e62b2f {
//   fill: url(#e9551029-8841-442f-b753-6834d580ccb9);
// }

// .ac6eb50b-2171-43cd-b9f6-6a899f1b92da, .ad75174a-8263-47a1-89af-ad81da92fcf7, .f526f9c2-51b6-44c0-ae2d-991aa73f2a8b {
//   fill: none;
// }

// .f05ee7c7-1188-4e38-8a9e-0cc2dda6f9a5 {
//   clip-path: url(#a1069c7a-6ae1-4ad3-a615-39738aba69dd);
// }

// .ade80893-7c1e-473e-a52b-cb861cdc39fd {
//   mask: url(#a3dd6543-6925-43af-afb0-9b87d765369e);
// }

// .a85360da-a242-4f24-95a8-2721e2639c5f {
//   clip-path: url(#a272d19f-27a7-4cf9-9fd7-044bc7cdc8fa);
// }

// .ad75174a-8263-47a1-89af-ad81da92fcf7, .f526f9c2-51b6-44c0-ae2d-991aa73f2a8b {
//   stroke: #7e0f12;
// }

// .f526f9c2-51b6-44c0-ae2d-991aa73f2a8b {
//   stroke-width: 0.75px;
// }

// .a20cfba1-1b5d-46ec-af45-4d94e21355b6 {
//   clip-path: url(#f4385f1b-8e9a-4b77-867f-99e166219be4);
// }

// // Style from QualitiesLine.svg

// .b0e98048-596b-4cef-91ef-59dae3b43e28 {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from QualitiesQuality.svg

// .a4544f3a-5765-48c8-b77b-bcd14bc77691 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .af470e2e-16ae-4893-b5f4-62caa8d292f8 {
//   letter-spacing: -0.01904em;
// }

// .be06f8f9-e3f4-4c54-95df-d7735d6eee2a {
//   letter-spacing: -0.02002em;
// }

// // Style from QualitiesNotes.svg

// .ab1a0800-31eb-4734-9910-55c902adf57c {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a5f7da63-3894-4ea1-b6c1-208bae90c691 {
//   letter-spacing: -0.01904em;
// }

// .fa15838f-8560-4d3b-b762-29004efc8b83 {
//   letter-spacing: -0.02002em;
// }

// // Style from QualitiesT.svg

// .ba0e76c7-e245-4f63-a458-0883c4c13615 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// // Style from QualitiesQualityYpe.svg

// .e901c53b-82df-46ec-8327-65724397a339 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a4dffe0d-2a4e-4aa8-862c-a45d06fca91e {
//   letter-spacing: -0.01904em;
// }

// // Style from PositiveNegative.svg

// .b1a400ce-d872-4769-940b-b9feba58c449 {
//   fill: none;
// }

// .f480a4bb-26ec-490e-9be0-b6e0a32bf17e {
//   clip-path: url(#bd2ef9b3-8b4b-4353-9041-88991255eeb3);
// }

// .afaa32e2-2a6e-429e-82a2-9260dc8464cd {
//   opacity: 0.75;
// }

// .a193f278-74a2-47d6-8982-97ef4f94bf79 {
//   clip-path: url(#b4317bad-b25c-4702-b766-90f6774549a1);
// }

// .fc4c5489-5be1-4ce8-8f94-c0272e0dd869 {
//   font-size: 6px;
//   font-family: UniversLTStd-UltraCn, Univers LT Std;
// }

// .ae115f61-b1dc-4b1c-aa32-c0e14eca1fd0 {
//   letter-spacing: -0.01904em;
// }

// .abb51485-a424-48eb-9f37-7f5d9fdc599d {
//   clip-path: url(#bc29e037-fd0b-48a1-bd25-f32283f568e3);
// }

// .b7d02198-5772-46b1-b46f-7504ba09a349 {
//   clip-path: url(#bf6c9111-0f2e-4c98-8a31-f598d99bd80d);
// }

// .b7b3a079-cad7-44c4-8833-830f734b0f2a {
//   clip-path: url(#b741edf7-0438-4565-b6a1-71afac29ab8a);
// }

// .e32aed81-add4-46cb-b7ed-c3dc268dc00c {
//   clip-path: url(#b1ad324d-ce0f-43d6-ada8-4887e2df2024);
// }

// .b276d672-3da7-475b-a2be-778ff9780bd2 {
//   clip-path: url(#b1e87e96-36a4-49af-8b09-da110617969c);
// }

// .eaf9be05-d6e2-4cd9-a7b4-017bf4702d33 {
//   clip-path: url(#a33b59cd-ae3e-436c-860a-a2cf8e81a3e2);
// }

// .fa891531-e680-486d-b5d2-866307e2db30 {
//   clip-path: url(#b78ee4de-14be-40f1-8753-5fb96c1eea93);
// }

// .b4233129-df6f-4b01-bf47-f8c21169aa8c {
//   clip-path: url(#bf31db46-2244-4c16-a78a-b56a224b93db);
// }

// .f7a02389-fb7a-496d-83f0-c47c0811d7ab {
//   clip-path: url(#a2084e93-6843-4f7d-9ea4-bd2a493f1237);
// }
