@import "variables.scss";
@import "../../styles/fonts.scss";

$section-header-text-right: 292.637pt;

.character-sheet-section {
    display: inline-block;
    width: $section-width;
    position: relative;

    padding-bottom: $section-padding-bottom;
    margin-bottom: $section-bottom-margin;
    margin-bottom: 9pt;
    margin-right: $sections-column-gap;
}

.character-sheet-section>.section-box-top {
    position: absolute;
    height: 11.535pt;
    top: $section-padding-bottom + $section-header-line-height;
    width: 100%;
    display: flex;

    fill: none;
    stroke: $section-header-color;
    stroke-width: $stroke-width;
}

.character-sheet-section header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.character-sheet-section header>h2 {
    display: inline;
    
    color: #ffffff;
    background-color: $section-header-color;
    
    font-family: ArmaduraSolid, Armadura Solid;
    font-size: 9pt;
    font-weight: normal;
    line-height: $section-header-line-height;
    letter-spacing: .175pt;
    
    margin: 0pt;
}

.character-sheet-section-body {
    margin-top: $section-top-margin;
    margin-left: $section-left-margin;
    margin-right: 12pt;
}

.personal-data header>h2 {
    padding: 0pt 4.75pt $section-padding-bottom 2.5pt;
}

.attributes header > h2 {
  padding: 0pt 4.75pt $section-padding-bottom 2.5pt;
}

.skills header > h2 {
  padding: 0pt 4.75pt $section-padding-bottom 4pt;
}
