@import "variables.scss";
@import "../../styles/fonts.scss";

$section-header-text-right: 292.637pt;

.character-sheet-section {
    display: inline-block;
    width: $section-width;
    position: relative;
    background-color: rgba(255, 255, 0, 0.5);
    background-color: transparent;

    padding-bottom: $section-padding-bottom;
    margin-bottom: $section-bottom-margin;
    margin-right: $sections-column-gap;
}

.character-sheet-section>.section-box-top {
    position: absolute;
    height: 11.535pt;
    top: 13.037pt;
    width: 100%;
    display: flex;

    fill: none;
    stroke: #7e0f12;
    stroke: rgba(0, 255, 255, 0.5);
    stroke-width: $stroke-width;
}

.character-sheet-section header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.character-sheet-section header>h2 {
    display: inline;
    
    color: #ffffff;
    background-color: #7e0f12;
    
    font-family: ArmaduraSolid, Armadura Solid;
    font-size: 9pt;
    font-weight: normal;
    line-height: $section-header-line-height;
    
    margin: 0pt;
    padding: 0pt #{$section-width - (189.137pt + 103.5pt - $sections-left)};
    padding-bottom: #{$section-header-height - $section-header-line-height};
}

.character-sheet-section-body {
    margin-top: $section-top-margin;
    margin-left: $section-left-margin;
    margin-right: 12pt;
}
