@font-face {
  font-family: 'Armadura Solid';
  src: url('../../resources/armadura_solid-webfont.woff2') format('woff2')
}

@font-face {
  font-family: 'UniversLTStd-BoldCn';
  src: url('../../resources/UniversLTStd-BoldCn.woff2') format('woff2')
}
