.skills-box {
  width: 270.625pt;
  height: 247.901pt;
  left: 26.1875pt;
  top: 360.32401pt;
  position: absolute;
}

.skills-tab {
  width: 73.04001pt;
  height: 13.20001pt;
  left: 223.397pt;
  top: 360.333pt;
  position: absolute;
}

.skills-style {
  width: 75.36pt;
  height: 15.36pt;
  left: #{496.35952 - 274.112}pt;
  top: #{10.35986 + 348.813}pt;
  position: absolute;
}

.skills-text {
  width: 44.63916pt;
  height: 9.8999pt;
  left: 247.817pt;
  top: 362.413pt;
  position: absolute;
}

%skills-line {
  position: absolute;
  width: 119.065pt;
  height: 0.75pt;
}

.skills-line-1 {
  @extend %skills-line;
  left: 38.247pt;
  top: 390.114pt;
}

.skills-line-3 {
  @extend %skills-line;
  left: 38.247pt;
  top: 390.114pt;
}

.skills-line-2 {
  @extend %skills-line;
  left: 167.155pt;
  top: 390.114pt;
}

.skills-line-3 {
  @extend %skills-line;
  left: 38.247pt;
  top: 400.122pt;
}

.skills-line-4 {
  @extend %skills-line;
  left: 167.155pt;
  top: 400.122pt;
}

.skills-line-5 {
  @extend %skills-line;
  left: 38.247pt;
  top: 412.036pt;
}

.skills-line-6 {
  @extend %skills-line;
  left: 167.155pt;
  top: 412.036pt;
}

.skills-line-7 {
  @extend %skills-line;
  left: 38.247pt;
  top: 423.95pt;
}

.skills-line-8 {
  @extend %skills-line;
  left: 167.155pt;
  top: 423.95pt;
}

.skills-line-9 {
  @extend %skills-line;
  left: 38.247pt;
  top: 435.864pt;
}

.skills-line-10 {
  @extend %skills-line;
  left: 167.155pt;
  top: 435.864pt;
}

.skills-line-11 {
  @extend %skills-line;
  left: 38.247pt;
  top: 447.778pt;
}

.skills-line-12 {
  @extend %skills-line;
  left: 167.155pt;
  top: 447.778pt;
}

.skills-line-13 {
  @extend %skills-line;
  left: 38.247pt;
  top: 459.692pt;
}

.skills-line-14 {
  @extend %skills-line;
  left: 167.155pt;
  top: 459.692pt;
}

.skills-line-15 {
  @extend %skills-line;
  left: 38.247pt;
  top: 471.606pt;
}

.skills-line-16 {
  @extend %skills-line;
  left: 167.155pt;
  top: 471.606pt;
}

.skills-line-17 {
  @extend %skills-line;
  left: 38.247pt;
  top: 483.52pt;
}

.skills-line-18 {
  @extend %skills-line;
  left: 167.155pt;
  top: 483.52pt;
}

.skills-line-19 {
  @extend %skills-line;
  left: 38.247pt;
  top: 495.434pt;
}

.skills-line-20 {
  @extend %skills-line;
  left: 167.155pt;
  top: 495.434pt;
}

.skills-line-21 {
  @extend %skills-line;
  left: 38.247pt;
  top: 507.348pt;
}

.skills-line-22 {
  @extend %skills-line;
  left: 167.155pt;
  top: 507.348pt;
}

.skills-line-23 {
  @extend %skills-line;
  left: 38.247pt;
  top: 519.262pt;
}

.skills-line-24 {
  @extend %skills-line;
  left: 167.155pt;
  top: 519.262pt;
}

.skills-line-25 {
  @extend %skills-line;
  left: 38.247pt;
  top: 531.176pt;
}

.skills-line-26 {
  @extend %skills-line;
  left: 167.155pt;
  top: 531.176pt;
}

.skills-line-27 {
  @extend %skills-line;
  left: 38.247pt;
  top: 543.09pt;
}

.skills-line-28 {
  @extend %skills-line;
  left: 167.155pt;
  top: 543.09pt;
}

.skills-line-29 {
  @extend %skills-line;
  left: 38.247pt;
  top: 555.004pt;
}

.skills-line-30 {
  @extend %skills-line;
  left: 167.155pt;
  top: 555.004pt;
}

.skills-line-31 {
  @extend %skills-line;
  left: 38.247pt;
  top: 566.918pt;
}

.skills-line-32 {
  @extend %skills-line;
  left: 167.155pt;
  top: 566.918pt;
}

.skills-line-33 {
  @extend %skills-line;
  left: 38.247pt;
  top: 578.832pt;
}

.skills-line-34 {
  @extend %skills-line;
  left: 167.155pt;
  top: 578.832pt;
}

.skills-line-35 {
  @extend %skills-line;
  left: 38.247pt;
  top: 590.746pt;
}

.skills-line-36 {
  @extend %skills-line;
  left: 167.155pt;
  top: 590.746pt;
}

.skills-line-37 {
  @extend %skills-line;
  left: 38.247pt;
  top: 602.66pt;
}

.skills-line-38 {
  @extend %skills-line;
  left: 167.155pt;
  top: 602.66pt;
}

.skills-skill-left {
  position: absolute;
  width: 10.87793pt;
  height: 6.47998pt;
  left: 38.248pt;
  top: 382.322pt;
}

.skills-rating-left {
  position: absolute;
  width: 9.76807pt;
  height: 6.47998pt;
  left: 121.425pt;
  top: 382.322pt;
}

.skills-type-left-skill-right {
  position: absolute;
  width: 31.16992pt;
  height: 6.47998pt;
  left: 146.866pt;
  top: 382.322pt;
}

.skills-rating-right {
  position: absolute;
  width: 9.77393pt;
  height: 6.47998pt;
  left: 250.33pt;
  top: 382.322pt;
}

.skills-type-right {
  position: absolute;
  width: 10.77588pt;
  height: 6.47998pt;
  left: 275.77pt;
  top: 382.322pt;
}

.skills-active-knowledge {
  position: absolute;
  width: 137.57715pt;
  height: 208.74219pt;
  left: 147.56885pt;
  top: 393.30957pt;
}
