.cyberdeck-box {
  position: absolute;
  width: 270.625pt;
  height: 119.04001pt;
  left: 314.9375pt;
  top: 198.93378pt;
}

.cyberdeck-tab {
  position: absolute;
  width: 105.03998pt;
  height: 13.20001pt;
  left: 315.312pt;
  top: 198.934pt;
}

.cyberdeck-style {
  position: absolute;
  width: 107.28pt;
  height: 15.36pt;
  left: #{79.332 + 234.76004}pt;
  top: #{168.534 + 29.31982}pt;
}

.cyberdeck-text {
  position: absolute;
  width: 72.35938pt;
  height: 9.8999pt;
  left: 320.47pt;
  top: 201.014pt;
}

%cyberdeck-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 331.997pt;
}

.cyberdeck-line-1 {
  @extend %cyberdeck-line;
  top: 229.07pt;
}

.cyberdeck-line-2 {
  @extend %cyberdeck-line;
  top: 242.029pt;
}

.cyberdeck-line-3 {
  @extend %cyberdeck-line;
  top: 254.988pt;
}

.cyberdeck-line-4 {
  @extend %cyberdeck-line;
  top: 267.947pt;
}

.cyberdeck-line-5 {
  @extend %cyberdeck-line;
  top: 280.906pt;
}

.cyberdeck-line-6 {
  @extend %cyberdeck-line;
  top: 293.865pt;
}

.cyberdeck-line-7 {
  @extend %cyberdeck-line;
  width: 76.04001pt;
  top: 306.824pt;
}

.cyberdeck-model {
  position: absolute;
  width: 18.01074pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 220.725pt;
}

.cyberdeck-attack {
  position: absolute;
  width: 18.33301pt;
  height: 7.56006pt;
  left: 446.721pt;
  top: 220.725pt;
}

.cyberdeck-sleaze {
  position: absolute;
  width: 18.72461pt;
  height: 7.56006pt;
  left: 523.35pt;
  top: 220.725pt;
}

.cyberdeck-device-rating {
  position: absolute;
  width: 38.86328pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 234.06pt;
}

.cyberdeck-data-processing {
  position: absolute;
  width: 45.73047pt;
  height: 7.56006pt;
  left: 419.357pt;
  top: 234.06pt;
}

.cyberdeck-firewall {
  position: absolute;
  width: 23.24707pt;
  height: 7.56006pt;
  left: 518.827pt;
  top: 234.06pt;
}

.cyberdeck-programs {
  position: absolute;
  width: 26.74707pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 246.646pt;
}

.cyberdeck-matrix-condition-monitor {
  position: absolute;
  width: 70.41992pt;
  height: 7.56006pt;
  left: 331.997pt;
  top: 298.48pt;
}

%cyberdeck-condition {
  position: absolute;
  width: 14.11801pt;
  height: 16.30237pt;
  top: 297.345pt;
}

.cyberdeck-condition-1 {
  @extend %cyberdeck-condition;
  left: 412.409pt;
}

.cyberdeck-condition-2 {
  @extend %cyberdeck-condition;
  left: 425.941pt;
}

.cyberdeck-condition-3 {
  @extend %cyberdeck-condition;
  left: 439.473pt;
}

.cyberdeck-condition-4 {
  @extend %cyberdeck-condition;
  left: 453.005pt;
}

.cyberdeck-condition-5 {
  @extend %cyberdeck-condition;
  left: 466.537pt;
}

.cyberdeck-condition-6 {
  @extend %cyberdeck-condition;
  left: 480.069pt;
}

.cyberdeck-condition-7 {
  @extend %cyberdeck-condition;
  left: 493.6pt;
}

.cyberdeck-condition-8 {
  @extend %cyberdeck-condition;
  left: 507.132pt;
}

.cyberdeck-condition-9 {
  @extend %cyberdeck-condition;
  left: 520.664pt;
}

.cyberdeck-condition-10 {
  @extend %cyberdeck-condition;
  left: 534.196pt;
}

.cyberdeck-condition-11 {
  @extend %cyberdeck-condition;
  left: 547.728pt;
}

.cyberdeck-condition-12 {
  @extend %cyberdeck-condition;
  left: 561.26pt;
}

.cyberdeck-condition-numbers {
  position: absolute;
  width: 112.63184pt;
  height: 8.64014pt;
  left: 416.994pt;
  top: 301.464pt;
}

.cyberdeck-condition-number-10 {
  position: absolute;
  width: 8.37598pt;
  height: 8.64014pt;
  left: 536.786pt;
  top: 301.464pt;
}

.cyberdeck-condition-number-11 {
  position: absolute;
  width: 7.74414pt;
  height: 8.64014pt;
  left: 550.634pt;
  top: 301.464pt;
}

.cyberdeck-condition-number-12 {
  position: absolute;
  width: 8.69629pt;
  height: 8.64014pt;
  left: 563.682pt;
  top: 301.464pt;
}

// // Style from CyberdeckBox.svg

// .be2e22c9-4da2-483b-94a9-9f3e1689926d {
//   fill: url(#a457b579-ed96-4289-b2fe-317bbc929613);
// }

// .abcb278d-7830-4e25-ae3d-5e9aa24cd6a9 {
//   fill: url(#b2965625-aa08-4d4e-8406-71fa33308855);
// }

// .ada0eba5-bcb9-406d-af03-8cdead500010, .e09d830e-281b-4c6e-b781-282eea0eee37, .f9588b7e-3ccf-475d-9ad0-138354d46d82 {
//   fill: none;
// }

// .a9af2a62-a6b5-4446-888f-112af71eb392 {
//   clip-path: url(#be6ec4c5-1423-4f25-9236-f1e98e11e0ed);
// }

// .be5c93f9-408d-4708-9aa2-8d8b93800617 {
//   mask: url(#f95ff448-e91d-49f9-946b-8c23767ea034);
// }

// .a825387c-b5b6-4462-b226-e3e3e319d71b {
//   clip-path: url(#a553832b-a450-46b7-a3a5-8b6d2af5b30a);
// }

// .ada0eba5-bcb9-406d-af03-8cdead500010, .f9588b7e-3ccf-475d-9ad0-138354d46d82 {
//   stroke: #7e0f12;
// }

// .ada0eba5-bcb9-406d-af03-8cdead500010 {
//   stroke-width: 0.75px;
// }

// .e85aadf1-86ab-4455-a792-a224c0c627f8 {
//   clip-path: url(#f8b40406-d442-4770-b113-f17295dfa4ef);
// }

// // Style from CyberdeckTab.svg

// .b741a14e-3d50-4d88-9493-d526f79b65bc {
//   fill: #7e0f12;
// }

// // Style from CyberdeckStyle.svg

// .aec4afa2-5aa8-45b8-9ca0-694a8c16a2e6 {
//   fill: none;
// }

// .eb005621-f7a0-4eec-8c63-4bafc725d18b {
//   isolation: isolate;
// }

// .a5aa3fca-cf42-4c79-b3dc-1c76f8e40465 {
//   clip-path: url(#ab4d3a28-c0d7-4240-aa47-c271da390485);
// }

// .b3b01e71-f921-492e-b69f-087fd500377d {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .a7744b2a-51ec-4825-a878-e05e0cce2cc1 {
//   clip-path: url(#f1f3c3cf-d6e2-41e5-8608-c4435006a77e);
// }

// .bbf3cb85-feae-4373-93b7-3f3509daed8d {
//   clip-path: url(#bb0222bd-1dab-41d9-823c-203da6d26779);
// }

// // Style from CyberdeckText.svg

// .bc045f9c-3bba-4437-84fc-f0e5dbd81a7d {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from CyberdeckLine.svg

// .b43c1002-9a00-42d2-8e52-7990e5c73488 {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from CyberdeckLine7.svg

// .e028dcd3-c0ab-4285-aafe-204f05fab0f3 {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from CyberdeckModel.svg

// .a1b023c7-4073-4f59-a142-dab4c0e9fedf {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
//   letter-spacing: -0.00907em;
// }

// .aa330ca6-80ec-490b-afee-ad9205be37c3 {
//   letter-spacing: -0.00991em;
// }

// .af90b55a-54e6-411a-8702-3b6478786127 {
//   letter-spacing: -0.00893em;
// }

// .f15b6dcd-51fa-4a59-b8c3-48b8f027cf0d {
//   letter-spacing: -0.00014em;
// }

// // Style from CyberdeckAttack.svg

// .bfe74935-b127-4aa3-8fe3-e1d06f0b428d {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b7a10e2e-26b0-4164-87ca-e50761843666 {
//   letter-spacing: -0.01004em;
// }

// .bb0dae92-4dc4-4785-874e-d6d2db856ba8 {
//   letter-spacing: -0.00907em;
// }

// .b5ef9a83-ae00-4c54-9ac0-972df72d3950 {
//   letter-spacing: -0.00991em;
// }

// // Style from CyberdeckSleaze.svg

// .e2304915-06d9-4f96-b3f8-cfcdd1d2b9fd {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b397b7f5-78bb-4c05-ba52-44ca051cd8d8 {
//   letter-spacing: -0.00893em;
// }

// .b8341116-7e1b-4f6c-88dc-aa14343b4d04 {
//   letter-spacing: -0.01004em;
// }

// .b81e3798-0031-4121-9c52-b011c53fd8a4 {
//   letter-spacing: -0.00907em;
// }

// // Style from CyberdeckDeviceRating.svg

// .f04dbfd7-8323-430c-a33c-65eab3f0a981 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .fbd79bdf-9adc-428d-94d4-27389a568462 {
//   letter-spacing: -0.01004em;
// }

// .b9dda8b5-bed8-4bdd-a7a4-229a41a61ca5 {
//   letter-spacing: -0.00893em;
// }

// .a20b9fd9-e56b-44cb-87f3-e84107a89077 {
//   letter-spacing: -0.00907em;
// }

// // Style from CyberdeckDataProcessing.svg

// .a7fd20c5-4323-414b-b01a-1c3261095a49 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a10f77bb-50b7-4b76-81e3-701cc9b31c20 {
//   letter-spacing: -0.01004em;
// }

// .f641d897-6b46-4a35-ae1d-a73d000e373d {
//   letter-spacing: -0.00907em;
// }

// .fd267a0f-f82b-4a1b-a941-9d34c5f4d20f {
//   letter-spacing: -0.00991em;
// }

// .a34f8aba-1699-4164-b3c8-a500ed09f769 {
//   letter-spacing: -0.00893em;
// }

// // Style from CyberdeckFirewall.svg

// .ec036693-2b4e-4e25-a64a-35e77b6bfc6d {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .aac90c29-d51e-4309-8a9a-b276b46ddde1 {
//   letter-spacing: -0.00893em;
// }

// .e5c8ee38-d765-4c41-a99d-7fe9d26567f8 {
//   letter-spacing: -0.01004em;
// }

// .b16ea08a-796d-4558-b357-7e11e3dafdf6 {
//   letter-spacing: -0.00907em;
// }

// // Style from CyberdeckPrograms.svg

// .b9bf66ad-3229-4c1c-8c55-7fb7db2e028d {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
//   letter-spacing: -0.00991em;
// }

// .ad1368a4-0f27-4dd2-ad1f-51bd9077e4fe {
//   letter-spacing: -0.00907em;
// }

// .b2bad903-a786-4fce-afd5-dbfaa74c5917 {
//   letter-spacing: -0.01004em;
// }

// .ec960d77-83b3-48e6-8e5d-720f302a396d {
//   letter-spacing: -0.00893em;
// }

// .f6d6e7f2-205c-4822-8165-df3a787d657f {
//   letter-spacing: 0.00014em;
// }

// // Style from CyberdeckMatrixConditionMonitor.svg

// .f862d49d-582c-46eb-a8e6-5ea9ef4fc7f1 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .aa1897f5-19ce-491b-badb-9ee02006b3f8 {
//   letter-spacing: -0.00907em;
// }

// .a9890926-c509-4d76-8682-7e5ad1251d8b {
//   letter-spacing: -0.00991em;
// }

// .ac625b5f-a0d5-4db5-aa45-20a23f35fdb9 {
//   letter-spacing: -0.01004em;
// }

// .e99aa193-faf8-41cb-abae-81881003059e {
//   letter-spacing: -0.00893em;
// }

// // Style from CyberdeckCondition.svg

// .bdcecde4-9f50-4650-86f4-3e502ee0341f {
//   fill: none;
//   stroke: #680015;
//   stroke-width: 0.5px;
// }

// // Style from CyberdeckConditionNumbers.svg

// .e6c3b683-8211-43b3-bf82-61ad53dabf5f {
//   font-size: 8px;
//   fill: #929496;
//   font-family: UniversLTStd, Univers LT Std;
// }

// .fa53fa18-5ab6-439f-914f-902f0dd60b97 {
//   letter-spacing: 1.13391em;
// }

// .b06efa0a-1dd7-4087-bc57-30285b235349 {
//   letter-spacing: 1.13501em;
// }

// .fb3a271c-9d98-47ff-aa5a-b5e6627672c4 {
//   letter-spacing: 1.13403em;
// }

// .e76174a2-8aad-4c8d-85ee-e65c22741bad {
//   letter-spacing: 1.13489em;
// }

// // Style from CyberdeckConditionNumber10.svg

// .ba6deb98-b28f-4df6-ae43-4e8629c960c9 {
//   font-size: 8px;
//   fill: #929496;
//   font-family: UniversLTStd, Univers LT Std;
// }

// .b45c7dc2-7019-41cb-9013-a7b4d11663b2 {
//   letter-spacing: -0.06506em;
// }

// // Style from CyberdeckConditionNumber11.svg

// .a72ba2e6-2c90-451f-ad4e-ffe3f49cc094 {
//   font-size: 8px;
//   fill: #929496;
//   font-family: UniversLTStd, Univers LT Std;
// }

// .aa1e7b71-5ce1-4044-ba1e-2847dda9d45c {
//   letter-spacing: -0.14404em;
// }

// // Style from CyberdeckConditionNumber12.svg

// .aa14696d-84d1-4ef0-bdc6-cc31c61d379b {
//   font-size: 8px;
//   fill: #929496;
//   font-family: UniversLTStd, Univers LT Std;
// }

// .a8f5e821-408f-433b-8708-c28775b86755 {
//   letter-spacing: -0.02502em;
// }
