.spells-box {
  position: absolute;
  width: 270.625pt;
  height: 129.03999pt;
  left: 314.9375pt;
  top: 439.26181pt;
}

.spells-tab {
  position: absolute;
  width: 176.03998pt;
  height: 23.20001pt;
  left: 315.312pt;
  top: 439.262pt;
}

.spells-style {
  position: absolute;
  width: 178.31999pt;
  height: 25.44pt;
  left: #{159.87955 + 154.333}pt;
  top: #{19.23987 + 418.862}pt;
}

.spells-preparations {
  position: absolute;
  width: 135.25488pt;
  height: 8.7998pt;
  left: 320.47pt;
  top: 441.157pt;
}

.rituals-complex-forms {
  position: absolute;
  width: 153.03809pt;
  height: 8.7998pt;
  left: 320.47pt;
  top: 450.757pt;
}

%spells-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 331.997pt;
}

.spells-line-1 {
  @extend %spells-line;
  top: 479.398pt;
}

.spells-line-2 {
  @extend %spells-line;
  top: 492.357pt;
}

.spells-line-3 {
  @extend %spells-line;
  top: 505.316pt;
}

.spells-line-4 {
  @extend %spells-line;
  top: 518.275pt;
}

.spells-line-5 {
  @extend %spells-line;
  top: 531.234pt;
}

.spells-line-6 {
  @extend %spells-line;
  top: 544.193pt;
}

.spells-line-7 {
  @extend %spells-line;
  top: 557.152pt;
}

.spells-line-8 {
  @extend %spells-line;
  top: 571.108pt;
}

.spells-line-9 {
  @extend %spells-line;
  top: 585.063pt;
}

.spells-attributes {
  position: absolute;
  width: 225.1123pt;
  height: 7.55957pt;
  left: 331.995pt;
  top: 468.963pt;
}

// Style from SpellsBox.svg

.ef0ba2eb-fa7e-4bff-829e-88e4b365d267 {
  fill: url(#a811c151-e46d-4404-b6b7-96a94191dd23);
}

.f937f0fa-c7e2-4274-930f-c2ae43c05a01 {
  fill: url(#ad77be1b-14f4-4c8b-82d5-6ef955e16bf4);
}

.b36ddbdc-b1b5-4b67-b008-12c193536ec8, .b45734ea-f0ac-4271-b099-5eb28770cc15, .be2d29dd-d935-4ec7-b3bd-ae2d84282926 {
  fill: none;
}

.bdeaf546-a33d-4a66-833f-58ec7ff1bd60 {
  clip-path: url(#f6da981f-40f5-42f7-b5e8-4fac8f287bfd);
}

.be81d66d-450d-41e5-88c6-cf02c281ad50 {
  mask: url(#ba1e82c6-caed-40db-8a8b-2d775d56b008);
}

.b067ce31-0d7b-4c65-a183-16f9ab2976db {
  clip-path: url(#a7a8f30c-3d9f-4ea1-9073-3b03bd20febd);
}

.b45734ea-f0ac-4271-b099-5eb28770cc15, .be2d29dd-d935-4ec7-b3bd-ae2d84282926 {
  stroke: #7e0f12;
}

.b45734ea-f0ac-4271-b099-5eb28770cc15 {
  stroke-width: 0.75px;
}

.bc643fb7-00dc-4a4a-bb5d-d645119d808d {
  clip-path: url(#fa07e5e8-9a7b-453b-ba8e-16bb8a4f1986);
}

// Style from SpellsTab.svg

.a16f8d21-3461-4bc3-b8d5-9d7325925ba1 {
  fill: #7e0f12;
}

// Style from SpellsStyle.svg

.b6b68a15-b9e3-4f28-96bc-5396275c4e47 {
  fill: none;
}

.fbeb8d0a-c705-4bd0-bff9-9c1a4c9d02ec {
  isolation: isolate;
}

.a3c17675-e68d-488d-97a1-4088e8acb400 {
  clip-path: url(#aac9afc1-41df-4280-af8f-e03f8b7649bb);
}

.f87c2b01-8474-48eb-be0e-47ba6ea0e290 {
  opacity: 0.35001;
  mix-blend-mode: multiply;
}

.fefa5ce0-b07c-4d38-9496-137e6cdf2e68 {
  clip-path: url(#be8ea32e-002c-4f2e-aa4f-12ac05323a5f);
}

.e2479e83-46b0-4947-9ef9-f30a4c42cbab {
  clip-path: url(#f8591f23-809e-4242-9210-0e13c7119548);
}

// Style from SpellsPreparationsText.svg

.b81cdc31-3006-4b74-b04b-9c870a556ea7 {
  font-size: 8px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
}

.a9c050ab-2c85-4c93-a194-ac2e9a73691c {
  letter-spacing: -0.02905em;
}

.adac50ca-1f9a-4357-9677-7c4bebe345e9 {
  letter-spacing: -0.03003em;
}

.f50f7cb5-fe9d-43d6-99eb-e730abe0a82a {
  letter-spacing: -0.02893em;
}

// Style from RitualsComplexFormsText.svg

.ada7c934-4a5a-4a7b-9fe1-4c6a00433ac1 {
  font-size: 8px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
  letter-spacing: -0.02905em;
}

.a3d41c53-637f-41db-98b7-73d07c5b0bb5 {
  letter-spacing: -0.03003em;
}

.a8b0ae05-7a12-4780-b7a0-5de409dea012 {
  letter-spacing: -0.00012em;
}

// Style from SpellsLine.svg

.fde3bfc0-15bb-4ad0-9647-28e5e8250de2 {
  fill: none;
  stroke: #6d6e70;
  stroke-width: 0.75px;
}

// Style from SpellsAttributes.svg

.eee90c4b-2060-4a04-865a-9503dceb01f1 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.fe238986-efe0-4a3b-a321-664f1b29a8b3 {
  letter-spacing: -0.00991em;
}

.b50bc66a-6e64-4964-8d35-d8d7fe559a38 {
  letter-spacing: -0.00907em;
}

.e4a91b9d-ede9-4cb7-b842-d74b06fbfb87 {
  letter-spacing: -0.01004em;
}

.a82dab14-ba15-451c-9c7b-36b25d7a92b7 {
  letter-spacing: 4.63616em;
}

.f86a84dd-22c2-4ff7-a796-131f958925f4 {
  letter-spacing: -0.09905em;
}

.bf9afbf4-49f9-4215-a790-aa956c97bed0 {
  letter-spacing: -0.00893em;
}

.fc4ce5af-30d5-448c-a397-a410fc277d38 {
  letter-spacing: -0.08398em;
}

.e724c4c8-94e0-4bf8-b562-fa115d8a0a14 {
  letter-spacing: 3.35798em;
}

.a1810355-e416-45fe-b7e9-f0be7af28b98 {
  letter-spacing: 3.92801em;
}

.ef80e842-9b47-4824-8210-737afd1715dd {
  letter-spacing: 4.09501em;
}
