.ranged-weapons-box {
  position: absolute;
  width: 270.625pt;
  height: 119.04004pt;
  left: 26.4375pt;
  top: 75.50012pt;
}

.ranged-weapons-tab {
  position: absolute;
  width: 146.03999pt;
  height: 13.20001pt;
  left: 150.648pt;
  top: 75.5pt;
}

.ranged-weapons-style {
  position: absolute;
  width: 148.31999pt;
  height: 15.36pt;
  left: #{423.4005 - 273.863}pt;
  top: #{10.35999 + 63.98}pt;
}

.ranged-weapons-text {
  position: absolute;
  width: 119.33887pt;
  height: 9.8999pt;
  left: 173.547pt;
  top: 77.58pt;
}

%ranged-weapons-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 43.497pt;
}

.ranged-weapons-line-1 {
  @extend %ranged-weapons-line;
  top: 105.636pt;
}

.ranged-weapons-line-2 {
  @extend %ranged-weapons-line;
  top: 118.595pt;
}

.ranged-weapons-line-3 {
  @extend %ranged-weapons-line;
  top: 131.554pt;
}

.ranged-weapons-line-4 {
  @extend %ranged-weapons-line;
  top: 144.513pt;
}

.ranged-weapons-line-5 {
  @extend %ranged-weapons-line;
  top: 157.472pt;
}

.ranged-weapons-line-6 {
  @extend %ranged-weapons-line;
  top: 170.432pt;
}

.ranged-weapons-line-7 {
  @extend %ranged-weapons-line;
  top: 183.391pt;
}

.ranged-weapons-name {
  position: absolute;
  width: 23.23975pt;
  height: 7.56006pt;
  left: 43.491pt;
  top: 95.205pt;
}

.ranged-weapons-attributes {
  position: absolute;
  width: 172.40234pt;
  height: 7.56006pt;
  left: 105.791pt;
  top: 95.205pt;
}

// // Style from RangedWeaponsBox.svg

// .fb1b8133-5554-43d6-b106-806281c72751 {
//   fill: url(#b4eda60a-5b4b-4aaf-8257-1ac997cc521f);
// }

// .b28208a6-7660-4125-a36e-81a52dd5d5f0 {
//   fill: url(#b74a3eba-f0b5-4db9-8608-c039033f13f6);
// }

// .a27e8abb-77a5-4bb7-a5a9-9615c701aa99, .a80bcbc1-10ed-4c44-a337-4296edcb4f95, .e183a060-d7fa-4f47-af59-d7435d8edbb4 {
//   fill: none;
// }

// .bdf13b08-783b-4c8f-acb8-911395ae7fa5 {
//   clip-path: url(#a44b56ce-01b9-4c63-91d1-558354e6a0d7);
// }

// .a69da318-4003-4d2b-a52d-efbca2234e31 {
//   mask: url(#bf05cc92-37b5-4b57-b69f-13b631f96a0a);
// }

// .ff544f29-4d25-444b-84cb-5362a840b327 {
//   clip-path: url(#bc75b4d5-8890-40d5-9c12-7ac02d7379f6);
// }

// .a27e8abb-77a5-4bb7-a5a9-9615c701aa99, .a80bcbc1-10ed-4c44-a337-4296edcb4f95 {
//   stroke: #7e0f12;
// }

// .a27e8abb-77a5-4bb7-a5a9-9615c701aa99 {
//   stroke-width: 0.75px;
// }

// .e3ef49ef-b20c-4692-8c5b-7fcd05ac054c {
//   clip-path: url(#fae97772-d6d9-4389-8070-f1cd884d174e);
// }

// // Style from RangedWeaponsTab.svg

// .bc96b28b-f093-46d1-b464-547cdb6d8d3e {
//   fill: #7e0f12;
// }

// // Style from RangedWeaponsStyle.svg

// .f5bbbe00-8b15-4cb0-93e0-8674a558aaf2 {
//   fill: none;
// }

// .ae8c4eb5-d338-49c3-9f4c-fd761d07be23 {
//   isolation: isolate;
// }

// .f1790466-15c4-4697-b15d-38eaf1b38f00 {
//   clip-path: url(#a7ea0bf7-0078-4cd2-b9a6-043c3666dfd8);
// }

// .be3fce35-f271-4615-9395-932254be7c1e {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .f05bcad6-e021-440f-83bb-736c8ef7d609 {
//   clip-path: url(#bd3826fa-ad66-4491-8242-4abf07278daf);
// }

// .bff22581-b11c-4103-9dfb-c1070dc56dbb {
//   clip-path: url(#be17fe9b-5f4e-4901-b8c8-637c1cb98d9a);
// }

// // Style from RangedWeaponsText.svg

// .be3b5dd5-0381-485a-808f-629f65606292 {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from RangedWeaponsLine.svg

// .f9267c5f-fdb3-4b99-b59c-ea58cee7e68a {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from RangedWeaponsName.svg

// .a34bb5c2-9a46-4948-a246-b3f317548c4b {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .bf57694d-2c55-4ac6-928d-b5cf51c05425 {
//   letter-spacing: -0.03404em;
// }

// .ba7aa48a-9d52-4cb3-9edf-9abeeb9d5599 {
//   letter-spacing: -0.009em;
// }

// // Style from RangedWeaponsAttributes.svg

// .ae0b9ac3-f148-48af-8231-a77655743a23 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a7f977bc-64a2-446a-9560-41f4afef2f61 {
//   letter-spacing: -0.009em;
// }

// .af6edecf-7e9f-4bee-85dd-2ce4d8155403 {
//   letter-spacing: 2.78906em;
// }

// .f2cb04ca-bbb4-4923-959a-a8eea9060770 {
//   letter-spacing: -0.01004em;
// }

// .a1e1efec-697a-46bd-ba0b-4fb3732dd60b {
//   letter-spacing: 3.11705em;
// }

// .fd1b3786-11f6-4f67-9173-1ab7b75df23b {
//   letter-spacing: -0.00997em;
// }

// .ecc517ce-8c13-46b2-84a3-e6fc3b920566 {
//   letter-spacing: 2.75997em;
// }

// .a41cae9f-f464-4f64-8e76-0b3077bd1bc0 {
//   letter-spacing: -0.00907em;
// }

// .a343ef39-c212-49bb-848d-bdf78ab7e27e {
//   letter-spacing: 2.78802em;
// }

// .fdd73d0d-7303-43f3-9b01-235948cd6d64 {
//   letter-spacing: 2.67801em;
// }

// .a4e05b47-96e2-41b6-8c7e-4e297ad1bdda {
//   letter-spacing: -0.00893em;
// }
