.augmentations-box {
  position: absolute;
  width: 270.625pt;
  height: 138.009pt;
  left: 26.4375pt;
  top: 327.6514pt;
}

.augmentations-tab {
  position: absolute;
  width: 136.03999pt;
  height: 13.20001pt;
  left: 160.648pt;
  top: 327.651pt;
}

.augmentations-style {
  position: absolute;
  width: 138.23999pt;
  height: 15.36pt;
  left: #{-60.333 + 219.87998}pt;
  top: #{297.251 + 29.32034}pt;
}

.augmentations-text {
  position: absolute;
  width: 106.19922pt;
  height: 9.8999pt;
  left: 186.687pt;
  top: 329.731pt;
}

%augmentations-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 43.497pt;
}

.augmentations-line-1 {
  @extend %augmentations-line;
  top: 357.787pt;
}

.augmentations-line-2 {
  @extend %augmentations-line;
  top: 370.746pt;
}

.augmentations-line-3 {
  @extend %augmentations-line;
  top: 385.395pt;
}

.augmentations-line-4 {
  @extend %augmentations-line;
  top: 400.044pt;
}

.augmentations-line-5 {
  @extend %augmentations-line;
  top: 414.692pt;
}

.augmentations-line-6 {
  @extend %augmentations-line;
  top: 429.341pt;
}

.augmentations-line-7 {
  @extend %augmentations-line;
  top: 443.989pt;
}

.augmentations-line-8 {
  @extend %augmentations-line;
  top: 458.638pt;
}

.augmentations-name {
  position: absolute;
  width: 38.96191pt;
  height: 7.56006pt;
  left: 43.498pt;
  top: 347.356pt;
}

.augmentations-rating {
  position: absolute;
  width: 17.94775pt;
  height: 7.56006pt;
  left: 125.118pt;
  top: 347.356pt;
}

.augmentations-notes {
  position: absolute;
  width: 16.45703pt;
  height: 7.56006pt;
  left: 186.255pt;
  top: 347.356pt;
}

.augmentations-essence {
  position: absolute;
  width: 23.31689pt;
  height: 7.56006pt;
  left: 243.222pt;
  top: 347.356pt;
}

// Style from AugmentationsBox.svg

.a4bf26fc-13af-4cc2-aff8-ec32f0eb216e {
  fill: url(#b52b0b38-642c-4656-8dbf-48a25433a144);
}

.bfbd654e-f690-4890-b79e-27475fc512f6 {
  fill: url(#b3699db5-8e47-46d5-86b3-5fcac2f216ad);
}

.b920fd4e-c58c-4bdd-ac0a-675955889732, .b93a792b-ad56-4b79-8a3b-cf1ce5ef3d9f, .be362711-dde8-498f-b9f5-5ce116176f43 {
  fill: none;
}

.ba3c221e-d50d-4be9-9de5-ccd329a3acf1 {
  clip-path: url(#a6c81215-675c-4087-83e3-8a9b0f6b3a8f);
}

.b69571fd-bfd5-4212-8ea3-fb78d6b81746 {
  mask: url(#baceea8d-db37-482f-8062-1d0e15697a87);
}

.f49a1689-9cde-41c5-8956-3466e2abfd24 {
  clip-path: url(#e4d9dfaa-36a6-4a0a-ad3d-f1d49a4e99c6);
}

.b920fd4e-c58c-4bdd-ac0a-675955889732, .b93a792b-ad56-4b79-8a3b-cf1ce5ef3d9f {
  stroke: #7e0f12;
}

.b920fd4e-c58c-4bdd-ac0a-675955889732 {
  stroke-width: 0.75px;
}

.b5ae775d-1b7e-4441-83a8-4e799cf8f7c4 {
  clip-path: url(#e89d62d5-f7da-4f4b-adfb-c8651ab27fb0);
}

// Style from AugmentationsTab.svg

.ae62339d-7f76-4e9a-b708-6670c858af02 {
  fill: #7e0f12;
}

// Style from AugmentationsStyle.svg

.b5219777-aa91-4ceb-bfa5-ff4b904e765a {
  fill: none;
}

.ae6b801b-9f74-4869-aba8-c40af6cb94f3 {
  isolation: isolate;
}

.a3badf08-ab64-4be3-b6a4-c4e8db51616a {
  clip-path: url(#ba12f543-0996-4228-ab8e-2966cac0fd0c);
}

.a1ed018d-b5c7-44ed-8dae-eab156529c23 {
  opacity: 0.35001;
  mix-blend-mode: multiply;
}

.a2998746-2ed3-46cb-a323-8ffc5bc5cd7a {
  clip-path: url(#e00d9529-53e4-4f6f-843d-33f638aa2286);
}

.a64f3e57-7016-4fd9-be55-15af5cd247a5 {
  clip-path: url(#fb19acae-c3d6-44b1-87ba-ebe6c838f23f);
}

// Style from AugmentationsText.svg

.adfc8920-66bd-481f-998e-6a09c4985a6f {
  font-size: 9px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
}

// Style from AugmentationsLine.svg

.a54c9d26-f572-4420-8fe9-39f7e3f2bbf3 {
  fill: none;
  stroke: #6d6e70;
  stroke-width: 0.75px;
}

// Style from AugmentationsName.svg

.b2a9ded0-232b-4a2d-827a-309373da8ee5 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.a3af5b7d-0496-46e6-9306-d85d9ac10739 {
  letter-spacing: -0.009em;
}

.f44da795-c9d2-4452-bf3c-ac1e30960994 {
  letter-spacing: -0.00997em;
}

// Style from AugmentationsRatings.svg

.ecb70793-b43e-4aef-aba4-0c5d86b55c5b {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.eef2a63d-9cec-4ce1-84d0-711e8cf40dfa {
  letter-spacing: -0.01004em;
}

.b4e4f322-d6fc-4e86-9181-b83d2d5f93ba {
  letter-spacing: -0.009em;
}

.e6509b69-0c1d-43c2-b668-c248499d43b2 {
  letter-spacing: -0.00997em;
}

.bce4eae3-8012-4a2e-ae22-711c400e56d7 {
  letter-spacing: -0.00893em;
}

// Style from AugmentationsNotes.svg

.ff0b8a9d-895a-45e2-8f58-d68408c6afca {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.bc66117f-5252-43f3-baa0-3f84b852d08b {
  letter-spacing: -0.009em;
}

.f92f9a4e-dff2-4393-8ced-bc1822081d04 {
  letter-spacing: -0.00997em;
}

// Style from AugmentationsEssence.svg

.f6149c53-d17e-4e79-b0c6-72cacccf0f3b {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.a61263ac-ebde-4ce3-baec-3bde20593efc {
  letter-spacing: -0.00997em;
}

.bc4937c1-06b4-431c-a3ec-09bc65c15ce9 {
  letter-spacing: -0.009em;
}

.afc1898c-94a0-45f0-94a3-76f4920fc378 {
  letter-spacing: -0.01004em;
}
