.skills-box {
  width: 270.625pt;
  height: 247.901pt;
  left: 26.1875pt;
  top: 360.32401pt;
  position: absolute;
}

.skills-tab {
  width: 73.04001pt;
  height: 13.20001pt;
  left: 223.397pt;
  top: 360.333pt;
  position: absolute;
}

.skills-style {
  width: 75.36pt;
  height: 15.36pt;
  left: #{496.35952 - 274.112}pt;
  top: #{10.35986 + 348.813}pt;
  position: absolute;
}

.skills-text {
  width: 44.63916pt;
  height: 9.8999pt;
  left: 247.817pt;
  top: 362.413pt;
  position: absolute;
}

%skills-line {
  position: absolute;
  width: 119.065pt;
  height: 0.75pt;
}

.skills-line-1 {
  @extend %skills-line;
  left: 38.247pt;
  top: 390.114pt;
}

.skills-line-3 {
  @extend %skills-line;
  left: 38.247pt;
  top: 390.114pt;
}

.skills-line-2 {
  @extend %skills-line;
  left: 167.155pt;
  top: 390.114pt;
}

.skills-line-3 {
  @extend %skills-line;
  left: 38.247pt;
  top: 400.122pt;
}

.skills-line-4 {
  @extend %skills-line;
  left: 167.155pt;
  top: 400.122pt;
}

.skills-line-5 {
  @extend %skills-line;
  left: 38.247pt;
  top: 412.036pt;
}

.skills-line-6 {
  @extend %skills-line;
  left: 167.155pt;
  top: 412.036pt;
}

.skills-line-7 {
  @extend %skills-line;
  left: 38.247pt;
  top: 423.95pt;
}

.skills-line-8 {
  @extend %skills-line;
  left: 167.155pt;
  top: 423.95pt;
}

.skills-line-9 {
  @extend %skills-line;
  left: 38.247pt;
  top: 435.864pt;
}

.skills-line-10 {
  @extend %skills-line;
  left: 167.155pt;
  top: 435.864pt;
}

.skills-line-11 {
  @extend %skills-line;
  left: 38.247pt;
  top: 447.778pt;
}

.skills-line-12 {
  @extend %skills-line;
  left: 167.155pt;
  top: 447.778pt;
}

.skills-line-13 {
  @extend %skills-line;
  left: 38.247pt;
  top: 459.692pt;
}

.skills-line-14 {
  @extend %skills-line;
  left: 167.155pt;
  top: 459.692pt;
}

.skills-line-15 {
  @extend %skills-line;
  left: 38.247pt;
  top: 471.606pt;
}

.skills-line-16 {
  @extend %skills-line;
  left: 167.155pt;
  top: 471.606pt;
}

.skills-line-17 {
  @extend %skills-line;
  left: 38.247pt;
  top: 483.52pt;
}

.skills-line-18 {
  @extend %skills-line;
  left: 167.155pt;
  top: 483.52pt;
}

.skills-line-19 {
  @extend %skills-line;
  left: 38.247pt;
  top: 495.434pt;
}

.skills-line-20 {
  @extend %skills-line;
  left: 167.155pt;
  top: 495.434pt;
}

.skills-line-21 {
  @extend %skills-line;
  left: 38.247pt;
  top: 507.348pt;
}

.skills-line-22 {
  @extend %skills-line;
  left: 167.155pt;
  top: 507.348pt;
}

.skills-line-23 {
  @extend %skills-line;
  left: 38.247pt;
  top: 519.262pt;
}

.skills-line-24 {
  @extend %skills-line;
  left: 167.155pt;
  top: 519.262pt;
}

.skills-line-25 {
  @extend %skills-line;
  left: 38.247pt;
  top: 531.176pt;
}

.skills-line-26 {
  @extend %skills-line;
  left: 167.155pt;
  top: 531.176pt;
}

.skills-line-27 {
  @extend %skills-line;
  left: 38.247pt;
  top: 543.09pt;
}

.skills-line-28 {
  @extend %skills-line;
  left: 167.155pt;
  top: 543.09pt;
}

.skills-line-29 {
  @extend %skills-line;
  left: 38.247pt;
  top: 555.004pt;
}

.skills-line-30 {
  @extend %skills-line;
  left: 167.155pt;
  top: 555.004pt;
}

.skills-line-31 {
  @extend %skills-line;
  left: 38.247pt;
  top: 566.918pt;
}

.skills-line-32 {
  @extend %skills-line;
  left: 167.155pt;
  top: 566.918pt;
}

.skills-line-33 {
  @extend %skills-line;
  left: 38.247pt;
  top: 578.832pt;
}

.skills-line-34 {
  @extend %skills-line;
  left: 167.155pt;
  top: 578.832pt;
}

.skills-line-35 {
  @extend %skills-line;
  left: 38.247pt;
  top: 590.746pt;
}

.skills-line-36 {
  @extend %skills-line;
  left: 167.155pt;
  top: 590.746pt;
}

.skills-line-37 {
  @extend %skills-line;
  left: 38.247pt;
  top: 602.66pt;
}

.skills-line-38 {
  @extend %skills-line;
  left: 167.155pt;
  top: 602.66pt;
}

.skills-skill-left {
  position: absolute;
  width: 10.87793pt;
  height: 6.47998pt;
  left: 38.248pt;
  top: 382.322pt;
}

.skills-rating-left {
  position: absolute;
  width: 9.76807pt;
  height: 6.47998pt;
  left: 121.425pt;
  top: 382.322pt;
}

.skills-type-left-skill-right {
  position: absolute;
  width: 31.16992pt;
  height: 6.47998pt;
  left: 146.866pt;
  top: 382.322pt;
}

.skills-rating-right {
  position: absolute;
  width: 9.77393pt;
  height: 6.47998pt;
  left: 250.33pt;
  top: 382.322pt;
}

.skills-type-right {
  position: absolute;
  width: 10.77588pt;
  height: 6.47998pt;
  left: 275.77pt;
  top: 382.322pt;
}

.skills-active-knowledge {
  position: absolute;
  width: 137.57715pt;
  height: 208.74219pt;
  left: 147.56885pt;
  top: 393.30957pt;
}

// // Style from SkillsBox.svg

// .a9d2e660-69fa-45a0-92a3-6651f9554d29 {
//   fill: url(#ac9e2e33-fba4-4bd0-a321-c367eb39dbb7);
// }

// .be7ed3f2-f1df-4572-9e7e-14408e8c9837 {
//   fill: url(#b0e798ca-39d3-44f2-b672-e437dfe32263);
// }

// .b38706db-a33a-49a5-8390-acfb95b375d1, .b93f6be1-2507-4ed7-8390-e457a3cde898, .e6f29d56-88bc-4654-a7ce-32b3dc9b461f {
//   fill: none;
// }

// .afe4ac10-4f62-4f66-ad40-2df848f73f18 {
//   clip-path: url(#ea695299-04b0-4672-ba86-ba26e45d07fc);
// }

// .ed32beb9-3255-4b48-9bf8-d3339666469f {
//   mask: url(#e05b4270-2e6d-43da-812e-05c71a915d7f);
// }

// .a0fccb17-eb28-4486-ac35-dd39b739207f {
//   clip-path: url(#bcf99690-cb7c-4b49-9040-083443a5a0d1);
// }

// .b93f6be1-2507-4ed7-8390-e457a3cde898, .e6f29d56-88bc-4654-a7ce-32b3dc9b461f {
//   stroke: #7e0f12;
// }

// .e6f29d56-88bc-4654-a7ce-32b3dc9b461f {
//   stroke-width: 0.75px;
// }

// .bcd71e2f-bda2-41d3-8853-aab0cf7fd812 {
//   clip-path: url(#ab89a78d-0248-4237-bb16-098ede69d564);
// }

// // Style from SkillsTab.svg

// .a927dc77-1050-4379-98b9-93c219ef8ab6 {
//   fill: #7e0f12;
// }

// // Style from SkillsStyle.svg

// .a12f882c-38c3-4ade-8b0f-bc177d384839 {
//   fill: none;
// }

// .ab69d4e0-a31d-49b7-8427-60a4b47e7d0a {
//   isolation: isolate;
// }

// .a64bb6ed-2664-49fd-8afb-f9d47d39f643 {
//   clip-path: url(#e101c9c3-08ea-4e75-91ae-db2a1a528ae2);
// }

// .a875503b-5bd6-4696-b9a7-6a5663bac227 {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .a5d59012-af66-4516-83a9-f4d59d43b153 {
//   clip-path: url(#bdcedd30-c2a4-4b3c-841c-9471960e45c2);
// }

// .eff7bc19-0da9-45e0-8f6e-47c80557f1fe {
//   clip-path: url(#edc1f1e2-4483-4d0b-bc61-112f323d1e7e);
// }

// // Style from SkillsText.svg

// .ed7bc6da-0a3d-4f21-811d-3756fadfbf0b {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from SkillsLine.svg

// .f881f3ef-c9d1-4bc8-98e4-bc4b8cf2c383 {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from SkillLeft.svg

// .aef2c347-8007-4226-8bbf-953caa3696d4 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .aabc4c46-74b4-4ed0-8ede-5d63b0e404c7 {
//   letter-spacing: -0.01896em;
// }

// .a358e85f-90eb-41f6-9046-7ed74b0d6217 {
//   letter-spacing: -0.02002em;
// }

// .bf7d9136-e14d-483c-875f-fd811d932c19 {
//   letter-spacing: -0.01904em;
// }

// // Style from RatingLeft.svg

// .eacfd862-a091-4605-b839-6b6c78c70c14 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b42d47f7-dd0a-44fc-a068-ee8f59fa6c9f {
//   letter-spacing: -0.02002em;
// }

// .ba954388-ea0b-47b5-b43f-cbf8c0bf9ee8 {
//   letter-spacing: -0.01896em;
// }

// // Style from TypeLeftSkillRight.svg

// .e4134c93-60e9-4115-badc-c9e77a82c36f {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a2b62cd0-fff3-4de0-ab4c-b26416966799 {
//   letter-spacing: -0.11003em;
// }

// .f7f15736-4db5-4b8d-8676-f0c1fba19f91 {
//   letter-spacing: -0.01896em;
// }

// .bbc1fa86-9098-4522-9738-29be909e7cb0 {
//   letter-spacing: 1.58602em;
// }

// .ec2ded8e-7b94-458f-bc06-3e2cc92933bf {
//   letter-spacing: -0.01904em;
// }

// .b6d8cd3f-6921-4e48-b4df-dbed8a7c1eb5 {
//   letter-spacing: -0.02002em;
// }

// // Style from RatingRight.svg

// .f6bc839d-af19-4e64-839a-9cabc888e203 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .ad685873-be39-43f1-9386-0327f20d2264 {
//   letter-spacing: -0.01896em;
// }

// // Style from TypeRight.svg

// .f1029166-68c2-4a6b-b257-5f9a170d66c5 {
//   font-size: 6px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b3c5de34-d452-4c67-b6fa-a6b2e8641842 {
//   letter-spacing: -0.11003em;
// }

// .b0481e9e-ca7c-49e7-ab3b-48cc7bf3340a {
//   letter-spacing: -0.01896em;
// }

// // Style from ActiveKnowledge.svg

// .b5fc379d-7be6-4227-9274-0fb4a38eb0a6 {
//   fill: none;
// }

// .b12ac79b-599c-419e-b7b1-4bf5be49deed {
//   clip-path: url(#b8d3f074-30cd-439a-b643-c64658f061ca);
// }

// .b5c3479f-40f4-4893-8da9-700950cfec83 {
//   opacity: 0.75;
// }

// .bd5d2123-c2ea-406f-b567-efda8c5ef36f {
//   clip-path: url(#a800ff0c-ae38-4709-b049-98ec57a7f2ed);
// }

// .bfbc66fe-f14b-434a-ba66-fa2e1531291d {
//   font-size: 6px;
//   font-family: UniversLTStd-UltraCn, Univers LT Std;
// }

// .e2b0556f-ec07-491d-ad49-ee159fa2966a {
//   letter-spacing: -0.01904em;
// }

// .b3528b7f-fb24-435a-ba38-175b0881d560 {
//   clip-path: url(#efa39a84-7a5b-4418-9bf4-26c5dc9cdcbb);
// }

// .a3b8ac88-c17e-4df3-85d6-e1155a01313d {
//   clip-path: url(#a1470ce4-fae3-478a-b473-16b750ef5239);
// }

// .bc2c900a-313c-4773-a429-3174de859164 {
//   clip-path: url(#f34354df-2e5b-44e9-b421-459fae0fd17d);
// }

// .a12d86ef-e284-4ec4-84db-8298651b6266 {
//   clip-path: url(#f5895d48-6067-4e01-a97a-3744dc992b37);
// }

// .af52c010-2cc5-45a0-96cd-ef2c762584b5 {
//   clip-path: url(#ac58d943-a7ed-446d-bdf3-faec6337cfca);
// }

// .a10a1a91-e5b2-42b4-af61-d77f67f1ae5a {
//   clip-path: url(#b9fc62a8-4481-43fc-b008-4fed47b97402);
// }

// .af88ca51-7c73-47d3-b0ae-21e48d3968b2 {
//   clip-path: url(#b7754fbe-baa1-408a-97a4-1d9250b32b36);
// }

// .bf24befb-d625-4630-9483-fa70d1c7886b {
//   clip-path: url(#a37bcb53-24d9-4490-bd36-c372d8af6b2a);
// }

// .acd162c9-3d13-437b-ae93-52e6f9e2b2e0 {
//   clip-path: url(#e7cdbe78-667f-480d-9554-5e64e3edc2d5);
// }

// .ab421a57-2c11-4914-812e-1d270d5a688f {
//   clip-path: url(#af9e4546-9040-4e50-9c53-413a2b2f5a99);
// }

// .b61caae6-4c03-46bb-9370-be0157334b90 {
//   clip-path: url(#ef56ae28-beb7-4419-b605-588df6473ead);
// }

// .a9eb2130-098b-48d2-8b72-4895190ca592 {
//   clip-path: url(#fb3a02c0-ea96-415e-a753-dd5c0ca4b228);
// }

// .adff1e85-9c7c-4521-b253-2f53e6ef05d2 {
//   clip-path: url(#abcdc0e5-8bc2-45d3-a5c7-467620592a68);
// }

// .aab2b458-1f51-4c8d-93fe-4f363a1ec569 {
//   clip-path: url(#b43c659a-0ee5-467b-a612-dd490dfa2249);
// }

// .ea4c9602-2843-4773-93a2-71a5b12d87c7 {
//   clip-path: url(#e6f10f0e-07a8-40f3-81e2-06648bd1ce3b);
// }

// .e64fd23f-d29f-4e9f-8f8b-06bce4e99fd1 {
//   clip-path: url(#f37a9bc9-6891-47ab-8f6f-c4909a2f64d2);
// }

// .acc6a6fa-c652-4121-93d4-6c02fe06d85c {
//   clip-path: url(#ac6e4708-685c-4056-8b61-4188e7a8b252);
// }

// .b2ee54ad-6b87-4610-80c6-14e9b2e962e4 {
//   clip-path: url(#a6df1cdb-28a1-4478-8625-faaf7d72ca9b);
// }

// .aab941ef-f3f8-497b-bb1d-81e121af2377 {
//   clip-path: url(#aed85b01-8c3a-4185-8330-4b5db0c124f2);
// }

// .a23ca685-a46d-49b8-b6fa-c534b5697685 {
//   clip-path: url(#f2519657-8a86-4997-baa1-26c0477c32a7);
// }

// .a43c5148-443f-4e2f-9466-32c504e578a0 {
//   clip-path: url(#a5858d24-61c2-4c8b-8581-74563057a32d);
// }

// .aa0c644e-f362-4b83-86b1-5b100c8135e8 {
//   clip-path: url(#b3f4c6cb-d932-4a51-93db-9d55525eea60);
// }

// .b5a7ac7d-64e6-4e8d-a53c-2b96a3085ce9 {
//   clip-path: url(#a70fc235-87aa-4194-9255-d3e1ef5f1fb1);
// }

// .aedcf957-9eff-4598-b190-02b7804b0a45 {
//   clip-path: url(#a8c30331-935b-4d63-b8cd-6fc318e9ec02);
// }

// .aedf4d85-c7f8-4ff0-8260-65d84421384d {
//   clip-path: url(#a0cbc3ad-35f6-4508-a063-87faa8816250);
// }

// .b1fe8bca-a64c-49b8-ab5d-d0e83317c785 {
//   clip-path: url(#a31c7c08-14e7-491d-8224-94bce35e61d9);
// }

// .ac318014-283b-4683-9d76-0a0fea5ba416 {
//   clip-path: url(#a7342102-1b44-4192-9650-37c279850a9a);
// }

// .ab143f34-f3b4-4406-9483-5baddd727021 {
//   clip-path: url(#f0afc613-e384-42dc-8a8a-2eff6bf29913);
// }

// .a1927ed9-d1fe-4c23-97c7-a30c0d3a7b38 {
//   clip-path: url(#be178e1a-7a83-49b0-8fcf-50c8b9255f3d);
// }

// .f4af6e42-805f-430b-98eb-5800d437eaad {
//   clip-path: url(#b111e9dc-51fd-4519-8173-9df4039bd0fc);
// }

// .bbc71f70-4f58-433c-98e4-68d97f0e57db {
//   clip-path: url(#e477cbf4-fb45-4cd8-9c43-a0bc805072f5);
// }

// .ab9a8411-ae20-488d-85bd-97bed5966779 {
//   clip-path: url(#b1a5f9c8-7988-44f8-80e9-af3a9bea8f89);
// }

// .a433591c-69d3-4f01-ac1e-ffd985fe432e {
//   clip-path: url(#b1a55b15-ebcd-4f37-9108-72c51accb019);
// }

// .bca7c6f5-5964-4382-ae6d-19026dae4fae {
//   clip-path: url(#a6ec1ce7-eadf-434f-8c10-f384a5749aa5);
// }

// .e9e966db-6f1e-40dd-9f2c-23d509aee188 {
//   clip-path: url(#b81b362b-a553-4be9-b924-fda0bed91335);
// }