.condition-monitor-text {
  position: absolute;
  width: 133.01855pt;
  height: 9.8999pt;
  left: 319.305pt;
  top: 195.085pt;
}

.condition-monitor-tab {
  position: absolute;
  width: 158.03998pt;
  height: 13.20001pt;
  left: 315.188pt;
  top: 193.016pt;
}

.condition-monitor-style {
  position: absolute;
  width: 160.32pt;
  height: 15.36pt;
  left: #{6.27951 + 307.738}pt;
  top: #{10.35962 + 181.496}pt;
}

.condition-monitor-box {
  position: absolute;
  width: 271pt;
  height: 271.04401pt;
  left: 314.4375pt;
  top: 193.01563pt;
}

%damage-box-outer-inside-horizontal {
  position: absolute;
  width: 35.625pt;
  height: 1pt;
}

%damage-box-inner-inside-horizontal {
  position: absolute;
  width: 36pt;
  height: 1pt;
}

%damage-box-outer-outside-horizontal {
  position: absolute;
  width: 36.375pt;
  height: 0.75pt;
}

%damage-box-inner-outside-horizontal {
  position: absolute;
  width: 36pt;
  height: 0.75pt;
}

.physical-damage-box-top-1 {
  @extend %damage-box-outer-outside-horizontal;
  left: 327.973pt;
  top: 227.635pt;
}

.physical-damage-box-top-2 {
  @extend %damage-box-inner-outside-horizontal;
  left: 364.348pt;
  top: 227.635pt;
}

.physical-damage-box-top-3 {
  @extend %damage-box-outer-outside-horizontal;
  left: 400.348pt;
  top: 227.635pt;
}

.physical-damage-box-bottom-1 {
  @extend %damage-box-outer-inside-horizontal;
  left: 328.723pt;
  top: 263.635pt;
}

.physical-damage-box-bottom-2 {
  @extend %damage-box-inner-inside-horizontal;
  left: 364.348pt;
  top: 263.635pt;
}

.physical-damage-box-bottom-3 {
  @extend %damage-box-outer-inside-horizontal;
  left: 400.348pt;
  top: 263.635pt;
}

.physical-damage-box-bottom-4 {
  @extend %damage-box-outer-inside-horizontal;
  left: 328.723pt;
  top: 299.635pt;
}

.physical-damage-box-bottom-5 {
  @extend %damage-box-inner-inside-horizontal;
  left: 364.348pt;
  top: 299.635pt;
}

.physical-damage-box-bottom-6 {
  @extend %damage-box-outer-inside-horizontal;
  left: 400.348pt;
  top: 299.635pt;
}

.physical-damage-box-bottom-7 {
  @extend %damage-box-outer-inside-horizontal;
  left: 328.723pt;
  top: 335.635pt;
}

.physical-damage-box-bottom-8 {
  @extend %damage-box-inner-inside-horizontal;
  left: 364.348pt;
  top: 335.635pt;
}

.physical-damage-box-bottom-9 {
  @extend %damage-box-outer-inside-horizontal;
  left: 400.348pt;
  top: 335.635pt;
}

.physical-damage-box-bottom-10 {
  @extend %damage-box-outer-inside-horizontal;
  left: 328.723pt;
  top: 371.635pt;
}

.physical-damage-box-bottom-11 {
  @extend %damage-box-inner-inside-horizontal;
  left: 364.348pt;
  top: 371.635pt;
}

.physical-damage-box-bottom-12 {
  @extend %damage-box-outer-inside-horizontal;
  left: 400.348pt;
  top: 371.635pt;
}

.physical-damage-box-bottom-13 {
  @extend %damage-box-outer-inside-horizontal;
  left: 328.723pt;
  top: 407.635pt;
}

.physical-damage-box-bottom-14 {
  @extend %damage-box-inner-inside-horizontal;
  left: 364.348pt;
  top: 407.635pt;
}

.physical-damage-box-bottom-15 {
  @extend %damage-box-outer-inside-horizontal;
  left: 400.348pt;
  top: 407.635pt;
}

.physical-damage-box-bottom-16 {
  @extend %damage-box-outer-outside-horizontal;
  left: 327.973pt;
  top: 443.635pt;
}

.physical-damage-box-bottom-17 {
  @extend %damage-box-inner-outside-horizontal;
  left: 364.348pt;
  top: 443.635pt;
}

.physical-damage-box-bottom-18 {
  @extend %damage-box-outer-outside-horizontal;
  left: 400.348pt;
  top: 443.635pt;
}

.stun-damage-box-top-1 {
  @extend %damage-box-outer-outside-horizontal;
  left: 458.293pt;
  top: 227.635pt;
}

.stun-damage-box-top-2 {
  @extend %damage-box-inner-outside-horizontal;
  left: 494.668pt;
  top: 227.635pt;
}

.stun-damage-box-top-3 {
  @extend %damage-box-outer-outside-horizontal;
  left: 530.667pt;
  top: 227.635pt;
}

.stun-damage-box-bottom-1 {
  @extend %damage-box-outer-inside-horizontal;
  left: 459.043pt;
  top: 263.635pt;
}

.stun-damage-box-bottom-2 {
  @extend %damage-box-inner-inside-horizontal;
  left: 494.668pt;
  top: 263.635pt;
}

.stun-damage-box-bottom-3 {
  @extend %damage-box-outer-inside-horizontal;
  left: 530.667pt;
  top: 263.635pt;
}

.stun-damage-box-bottom-4 {
  @extend %damage-box-outer-inside-horizontal;
  left: 459.043pt;
  top: 299.635pt;
}

.stun-damage-box-bottom-5 {
  @extend %damage-box-inner-inside-horizontal;
  left: 494.668pt;
  top: 299.635pt;
}

.stun-damage-box-bottom-6 {
  @extend %damage-box-outer-inside-horizontal;
  left: 530.667pt;
  top: 299.635pt;
}

.stun-damage-box-bottom-7 {
  @extend %damage-box-outer-inside-horizontal;
  left: 459.043pt;
  top: 335.635pt;
}

.stun-damage-box-bottom-8 {
  @extend %damage-box-inner-inside-horizontal;
  left: 494.668pt;
  top: 335.635pt;
}

.stun-damage-box-bottom-9 {
  @extend %damage-box-outer-inside-horizontal;
  left: 530.667pt;
  top: 335.635pt;
}

.stun-damage-box-bottom-10 {
  @extend %damage-box-outer-outside-horizontal;
  left: 458.293pt;
  top: 371.635pt;
}

.stun-damage-box-bottom-11 {
  @extend %damage-box-inner-outside-horizontal;
  left: 494.668pt;
  top: 371.635pt;
}

.stun-damage-box-bottom-12 {
  @extend %damage-box-outer-outside-horizontal;
  left: 530.667pt;
  top: 371.635pt;
}

%damage-box-outer-inside-vertical {
  position: absolute;
  width: 1pt;
  height: 35.125pt;
}

%damage-box-inner-inside-vertical {
  position: absolute;
  width: 1t;
  height: 35pt;
}

%damage-box-outer-outside-vertical {
  position: absolute;
  width: 0.75pt;
  height: 35.625pt;
}

%damage-box-inner-outside-vertical {
  position: absolute;
  width: 0.75pt;
  height: 36pt;
}

.physical-damage-box-left-1 {
  @extend %damage-box-outer-outside-vertical;
  left: 328.348pt;
  top: 228.01pt;
}

.physical-damage-box-left-2 {
  @extend %damage-box-outer-inside-vertical;
  left: 364.348pt;
  top: 228.01pt;
}

.physical-damage-box-left-3 {
  @extend %damage-box-outer-inside-vertical;
  left: 400.348pt;
  top: 228.01pt;
}

.physical-damage-box-right-3 {
  @extend %damage-box-outer-outside-vertical;
  left: 436.348pt;
  top: 228.01pt;
}

.physical-damage-box-left-4 {
  @extend %damage-box-inner-outside-vertical;
  left: 328.348pt;
  top: 263.635pt;
}

.physical-damage-box-left-5 {
  @extend %damage-box-inner-inside-vertical;
  left: 364.348pt;
  top: 264.135pt;
}

.physical-damage-box-left-6 {
  @extend %damage-box-inner-inside-vertical;
  left: 400.348pt;
  top: 264.135pt;
}

.physical-damage-box-right-6 {
  @extend %damage-box-inner-outside-vertical;
  left: 436.348pt;
  top: 263.635pt;
}

.physical-damage-box-left-7 {
  @extend %damage-box-inner-outside-vertical;
  left: 328.348pt;
  top: 299.635pt;
}

.physical-damage-box-left-8 {
  @extend %damage-box-inner-inside-vertical;
  left: 364.348pt;
  top: 300.135pt;
}

.physical-damage-box-left-9 {
  @extend %damage-box-inner-inside-vertical;
  left: 400.348pt;
  top: 300.135pt;
}

.physical-damage-box-right-9 {
  @extend %damage-box-inner-outside-vertical;
  left: 436.348pt;
  top: 299.635pt;
}

.physical-damage-box-left-10 {
  @extend %damage-box-inner-outside-vertical;
  left: 328.348pt;
  top: 335.635pt;
}

.physical-damage-box-left-11 {
  @extend %damage-box-inner-inside-vertical;
  left: 364.348pt;
  top: 336.135pt;
}

.physical-damage-box-left-12 {
  @extend %damage-box-inner-inside-vertical;
  left: 400.348pt;
  top: 336.135pt;
}

.physical-damage-box-right-12 {
  @extend %damage-box-inner-outside-vertical;
  left: 436.348pt;
  top: 335.635pt;
}

.physical-damage-box-left-13 {
  @extend %damage-box-inner-outside-vertical;
  left: 328.348pt;
  top: 371.635pt;
}

.physical-damage-box-left-14 {
  @extend %damage-box-inner-inside-vertical;
  left: 364.348pt;
  top: 372.135pt;
}

.physical-damage-box-left-15 {
  @extend %damage-box-inner-inside-vertical;
  left: 400.348pt;
  top: 372.135pt;
}

.physical-damage-box-right-15 {
  @extend %damage-box-inner-outside-vertical;
  left: 436.348pt;
  top: 371.635pt;
}

.physical-damage-box-left-16 {
  @extend %damage-box-outer-outside-vertical;
  left: 328.348pt;
  top: 407.635pt;
}

.physical-damage-box-left-17 {
  @extend %damage-box-outer-inside-vertical;
  left: 364.348pt;
  top: 408.135pt;
}

.physical-damage-box-left-18 {
  @extend %damage-box-outer-inside-vertical;
  left: 400.348pt;
  top: 408.135pt;
}

.physical-damage-box-right-18 {
  @extend %damage-box-outer-outside-vertical;
  left: 436.348pt;
  top: 407.635pt;
}

.stun-damage-box-left-1 {
  @extend %damage-box-outer-outside-vertical;
  left: 458.668pt;
  top: 228.01pt;
}

.stun-damage-box-left-2 {
  @extend %damage-box-outer-inside-vertical;
  left: 494.668pt;
  top: 228.01pt;
}

.stun-damage-box-left-3 {
  @extend %damage-box-outer-inside-vertical;
  left: 530.667pt;
  top: 228.01pt;
}

.stun-damage-box-right-3 {
  @extend %damage-box-outer-outside-vertical;
  left: 566.667pt;
  top: 228.01pt;
}

.stun-damage-box-left-4 {
  @extend %damage-box-inner-outside-vertical;
  left: 458.668pt;
  top: 263.635pt;
}

.stun-damage-box-left-5 {
  @extend %damage-box-inner-inside-vertical;
  left: 494.668pt;
  top: 264.135pt;
}

.stun-damage-box-left-6 {
  @extend %damage-box-inner-inside-vertical;
  left: 530.667pt;
  top: 264.135pt;
}

.stun-damage-box-right-6 {
  @extend %damage-box-inner-outside-vertical;
  left: 566.667pt;
  top: 263.635pt;
}

.stun-damage-box-left-7 {
  @extend %damage-box-inner-outside-vertical;
  left: 458.668pt;
  top: 299.635pt;
}

.stun-damage-box-left-8 {
  @extend %damage-box-inner-inside-vertical;
  left: 494.668pt;
  top: 300.135pt;
}

.stun-damage-box-left-9 {
  @extend %damage-box-inner-inside-vertical;
  left: 530.667pt;
  top: 300.135pt;
}

.stun-damage-box-right-9 {
  @extend %damage-box-inner-outside-vertical;
  left: 566.667pt;
  top: 299.635pt;
}

.stun-damage-box-left-10 {
  @extend %damage-box-outer-outside-vertical;
  left: 458.668pt;
  top: 335.635pt;
}

.stun-damage-box-left-11 {
  @extend %damage-box-outer-inside-vertical;
  left: 494.668pt;
  top: 336.135pt;
}

.stun-damage-box-left-12 {
  @extend %damage-box-outer-inside-vertical;
  left: 530.667pt;
  top: 336.135pt;
}

.stun-damage-box-right-12 {
  @extend %damage-box-outer-outside-vertical;
  left: 566.667pt;
  top: 335.635pt;
}

%damage-modifier {
  font-size: 12pt;
  color: #59595b;
  font-family: UniversLTStd, Univers LT Std;
  position: absolute;
  width: 10.66797pt;
  height: 12.95996pt;
}

.physical-damage-modifier-1 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 249.675pt;
}

.physical-damage-modifier-2 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 285.675pt;
}

.physical-damage-modifier-3 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 321.675pt;
}

.physical-damage-modifier-4 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 357.675pt;
}

.physical-damage-modifier-5 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 393.675pt;
}

.physical-damage-modifier-6 {
  @extend %damage-modifier;
  left: 421.68pt;
  top: 429.675pt;
}

.stun-damage-modifier-1 {
  @extend %damage-modifier;
  left: 552pt;
  top: 249.675pt;
}

.stun-damage-modifier-2 {
  @extend %damage-modifier;
  left: 552pt;
  top: 285.675pt;
}

.stun-damage-modifier-3 {
  @extend %damage-modifier;
  left: 552pt;
  top: 321.675pt;
}

.stun-damage-modifier-4 {
  @extend %damage-modifier;
  left: 552pt;
  top: 357.675pt;
}

.physical-damage-track {
  position: absolute;
  width: 85.82324pt;
  height: 9.72021pt;
  left: 339.436pt;
  top: 211.546pt;
}

.physical-damage-tracker-indicator {
  position: absolute;
  width: 78.99095pt;
  height: 180.60001pt;
  left: 335.965pt;
  top: 246.26pt;
}

.physical-damage-tracker-indicator-details {
  position: absolute;
  width: 70.20001pt;
  height: 184.15259pt;
  left: 344.33249pt;
  top: 244.25983pt;
}

.stun-damage-track {
  position: absolute;
  width: 70.83887pt;
  height: 9.72021pt;
  left: 477.253pt;
  top: 211.546pt;
}

.stun-damage-tracker-indicator {
  position: absolute;
  width: 78.19316pt;
  height: 109.043pt;
  left: 474.186pt;
  top: 246.26pt;
}

.stun-damage-tracker-indicator-details {
  position: absolute;
  width: 76.19998pt;
  height: 112.5939pt;
  left: 475.74631pt;
  top: 244.25983pt;
}

.condition-counts {
  position: absolute;
  width: 235.7168pt;
  height: 84.87012pt;
  left: 329.8252pt;
  top: 374.35352pt;
}

.overflow {
  position: absolute;
  width: 32.99414pt;
  height: 9.71973pt;
  left: 469.669pt;
  top: 397.269pt;
}

.overflow-line {
  position: absolute;
  width: 60.01501pt;
  height: 0.75pt;
  left: 507.027pt;
  top: 404.63pt;
}

.overflow-instructions-1 {
  position: absolute;
  width: 99.66406pt;
  height: 7.55957pt;
  left: 464.676pt;
  top: 410.13pt;
}

.overflow-instructions-2 {
  position: absolute;
  width: 91.30664pt;
  height: 7.55957pt;
  left: 468.833pt;
  top: 418.131pt;
}

.overflow-instructions-3 {
  position: absolute;
  width: 89.40918pt;
  height: 7.55957pt;
  left: 469.82pt;
  top: 426.132pt;
}

.overflow-instructions-4 {
  position: absolute;
  width: 102.09277pt;
  height: 7.55957pt;
  left: 463.472pt;
  top: 434.133pt;
}

.overflow-instructions-5 {
  position: absolute;
  width: 93.97363pt;
  height: 7.55957pt;
  left: 467.518pt;
  top: 442.134pt;
}

.overflow-instructions-6 {
  position: absolute;
  width: 11.46582pt;
  height: 7.55957pt;
  left: 474.258pt;
  top: 450.136pt;
}

.overflow-instructions-7 {
  position: absolute;
  width: 47.75586pt;
  height: 7.69922pt;
  left: 485.641pt;
  top: 450.136pt;
}

.overflow-instructions-8 {
  position: absolute;
  width: 20.08203pt;
  height: 7.55957pt;
  left: 533.051pt;
  top: 450.136pt;
}

// Style from ConditionMonitorText.svg

.b379e251-3f49-4788-98aa-a8c810316bb9 {
  font-size: 9px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
}

// Style from ConditionMonitorTab.svg

.fa046163-99c0-4c8e-a6bf-0c563f46ce81 {
  fill: #7e0f12;
}

// Style from ConditionMonitorStyle.svg

.f558d453-0303-476e-b12d-9cb7da0d6a76 {
  fill: none;
}

.aacf90ba-41cc-418a-8d65-302e2d024b72 {
  isolation: isolate;
}

.e632fc95-cf71-48d2-aa56-ca9f9e6118c8 {
  clip-path: url(#a10cf79b-9385-4a10-a8af-a293db0eae89);
}

.b0ce20a4-09a3-4a21-a57e-fd20829d7a80 {
  opacity: 0.35001;
  mix-blend-mode: multiply;
}

.b5b7763a-bfa1-4a68-8a69-db4fed4990fa {
  clip-path: url(#e6d2d764-9eac-4e33-89a6-34880ea8834f);
}

.ab122409-f13b-4fd1-87cd-1f2a306373a0 {
  clip-path: url(#b1fffa54-d370-4dac-baff-1333a1206f06);
}

// Style from ConditionMonitorBox.svg

.ac737077-7843-485f-bbd9-2c32866eb2dc {
  fill: url(#a9fcd6c4-9436-4a5c-828b-f44f72dfa8f2);
}

.bd1ba73e-7751-4931-9200-2cc3d170024e {
  fill: url(#b57f4758-66d7-4c4f-9a64-487df0fd390d);
}

.eaaead87-b067-46d8-a734-3b74dfa5a4db, .f5406b8b-b7e1-413c-81e1-afda439dcbcc, .f685b443-6f96-4036-9b71-e81d6dc97068 {
  fill: none;
}

.acff3eab-cc6d-4ef9-9c58-0c62ac77bbab {
  clip-path: url(#a6d28272-a9ce-49a0-88da-02399b2cc09f);
}

.bfefe52b-15a2-4405-a9b6-c1d03038b4bd {
  mask: url(#f057c38f-8b2f-4099-84d8-790ed5ef8987);
}

.f6dceb24-5075-4762-b505-c3175e40c19c {
  clip-path: url(#aae810b9-d529-4183-9b00-4fd72a6ea289);
}

.f5406b8b-b7e1-413c-81e1-afda439dcbcc, .f685b443-6f96-4036-9b71-e81d6dc97068 {
  stroke: #7e0f12;
}

.a17e5b0d-4321-4ef1-916c-47fe8dae9c7a {
  mask: url(#e0cf3636-7fb3-4f6f-9d1f-d83f17966e33);
}

.b8cf6e92-2afe-4a87-b348-0764137806d1 {
  clip-path: url(#bc35cbb3-add5-4b4d-a86e-0b498b4ae919);
}

.f5406b8b-b7e1-413c-81e1-afda439dcbcc {
  stroke-width: 0.75px;
}

// Style from DamageBoxOuterInsideHorizontal.svg

.fef8a71e-e43e-46b1-8486-39883d08dd5c {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
}

// Style from DamageBoxInnerInsideHorizontal.svg

.b3bd4370-6c36-467c-9dab-7ec816ba1d09 {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
}

// Style from DamageBoxOuterOutsideHorizontal.svg

.ab9c40a3-6875-431b-9f27-708c37b2e75e {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

// Style from DamageBoxInnerOutsideHorizontal.svg

.fff7875d-bbe0-4ccd-8438-6974921d2c21 {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

// Style from DamageBoxOuterInsideVertical.svg

.e040ae41-b0a3-4565-bf3f-7355a2f5c8f5 {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
}

// Style from DamageBoxInnerInsideVertical.svg

.ba411469-b4f1-4855-93c8-b62dad3161dc {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
}

// Style from DamageBoxOuterOutsideVertical.svg

.bf3bdc9b-aa0d-47f7-9b1b-1e90a57ae4bd {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

// Style from DamageBoxInnerOutsideVertical.svg

.b6ab29a5-191d-4d0d-9e35-dd3a369d56a0 {
  fill: none;
  stroke: #680015;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

// Style from PhysicalDamageTrack.svg

.bc56e29e-a086-4e75-9c5c-bb7806f934d8 {
  font-size: 9px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.f5a97e0b-7052-435c-a1a3-1aad4f48528b {
  letter-spacing: -0.074em;
}

// Style from PhysicalDamageTrackerIndicator.svg

.b8792095-8b6a-4d8d-acd1-289a37b98db5 {
  fill: none;
  stroke: #b0b2b4;
}

// Style from PhysicalDamageTrackerIndicatorDetails.svg

.ec005c74-0353-47f1-a16d-30b38d419c32 {
  fill: none;
}

.aaae6832-d518-4b31-9529-109ea6a04fbc {
  clip-path: url(#ee12f12b-901b-40c2-b780-1dcf1d26faba);
}

.e3c2b5fd-deaa-4fa7-84e7-d2d6fe0466e7 {
  fill: #b0b2b4;
}

// Style from StunDamageTrack.svg

.a0bd263f-8853-43c8-9cc5-f75c080c6b14 {
  font-size: 9px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.fa3680ea-c24b-49f2-b058-394b395d1c83 {
  letter-spacing: -0.07292em;
}

// Style from StunDamageTrackerIndicator.svg

.aa48f5a3-e862-45cd-bf54-39391235dac3 {
  fill: none;
  stroke: #b0b2b4;
}

// Style from StunDamageTrackerIndicatorDetails.svg

.b1bde58b-9e39-4979-b433-2013d48413a0 {
  fill: none;
}

.a0a282a4-3f3c-4e7f-9e81-6588b9dc3935 {
  clip-path: url(#ad0108e8-8809-4db9-b8c1-c0d66a9dfcbe);
}

.ff2e4c91-be42-44c4-b219-ccd944717d3c {
  fill: #b0b2b4;
}

// Style from ConditionCounts.svg

.ba1a425f-0537-4b00-a095-a449a71860fe {
  fill: none;
}

.bd30cc8f-3c9c-4919-a7f6-0bd2a16468ac {
  clip-path: url(#ef0d33c8-a15a-415d-bbc9-765fe52e2aca);
}

.a4a02dcd-5db6-4feb-b039-a736d6567f2e {
  opacity: 0.75;
}

.f6ca90d4-42b5-4f18-8b1c-10f2fe4f5c6b {
  clip-path: url(#faf1d241-5ad0-482a-bc81-ebb2195ef3e2);
}

.b2b0514e-edf3-4190-8012-8e45cc010c8c {
  font-size: 6px;
  font-family: UniversLTStd-LightCn, Univers LT Std;
  font-weight: 300;
}

.f91063a1-a37b-4b3b-83cd-d085bf41a3dd {
  letter-spacing: -0.00895em;
}

.f15baf39-c285-415f-b720-907e2a381c31 {
  letter-spacing: -0.01009em;
}

.a9fb52e0-7e6f-440e-b305-ae8082e155ee {
  letter-spacing: -0.00993em;
}

.ffb578b6-e3ce-4248-986a-4e92da9a6c6d {
  clip-path: url(#af316e0b-bb3c-4e03-beaa-fa1c0a2dbf85);
}

// Style from Overflow.svg

.a1130e18-bca3-464c-83a9-a264bef1af45 {
  font-size: 9px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

// Style from OverflowLine.svg

.af108a14-c14b-4b64-a0ad-7f47a980d083 {
  fill: none;
  stroke: #6d6e70;
  stroke-width: 0.75px;
}

// Style from OverflowInstructions1.svg

.b842405f-721c-4545-a6a5-7568710d8707 {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
  letter-spacing: -0.00893em;
}

.f0dfe723-474b-4b3d-8258-4496473e3b3f {
  letter-spacing: -0.01004em;
}

.bdffc05d-7bbc-489f-b9e8-9d3f44cb04a6 {
  letter-spacing: -0.00991em;
}

.ecf998a2-c0fc-45fe-9aad-709bd0ad7368 {
  letter-spacing: 0.00014em;
}

// Style from OverflowInstructions2.svg

.b905e5f4-f359-468b-bd88-e53b5240e7e4 {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
}

.e8253646-49c1-43fd-b1d6-035a5fc47b35 {
  letter-spacing: -0.01004em;
}

.a3e59b56-a8e6-42c9-96ad-d796ed82b78f {
  letter-spacing: -0.00907em;
}

.bd214063-9bf4-4c8f-98dc-4c7ef18e3b6e {
  letter-spacing: -0.00991em;
}

.aa1e892a-6c5a-4455-81c8-ec2f5a6c91b2 {
  letter-spacing: -0.00893em;
}

// Style from OverflowInstructions3.svg

.b7214d42-b771-4537-a286-d863052fce2d {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
}

.f58e7013-6d7b-441e-b905-7cc448ae9649 {
  letter-spacing: -0.00907em;
}

.a346f241-4824-46a6-b7fa-210feaea8f76 {
  letter-spacing: -0.00991em;
}

.ade65a2a-0b63-48a3-84d4-9976e99dbea8 {
  letter-spacing: -0.00893em;
}

.fd722c5e-9de2-4a93-bdba-a9e944101252 {
  letter-spacing: -0.01004em;
}

// Style from OverflowInstructions4.svg

.a397636d-16b4-4983-9c69-e02b40a6d1ba {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
}

.b0d105cb-86a5-4aa3-8ac0-271f1da8d81e {
  letter-spacing: -0.00907em;
}

.bd07fda9-c3ef-4357-99ce-22a62f8f8c04 {
  letter-spacing: -0.00991em;
}

.b94d0541-9da7-44da-a825-c3a152683cd4 {
  letter-spacing: -0.0159em;
}

.f131cb2d-ee02-47de-b8a2-9e5e66b26fa8 {
  letter-spacing: -0.01004em;
}

.e2296702-33b4-4877-be9b-2690064300cb {
  letter-spacing: -0.00893em;
}

.f6449330-b18c-45b1-a478-c0d289b23a74 {
  letter-spacing: -0.01604em;
}

// Style from OverflowInstructions5.svg

.a4991b94-2568-4efb-b8dc-7b3a48cf79e6 {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
  letter-spacing: -0.00893em;
}

.f85fbce8-1f22-45a4-9b5b-d6490e28a75c {
  letter-spacing: -0.01004em;
}

.b358dcc8-4ec2-49a3-9ad1-e7c37f9ded94 {
  letter-spacing: -0.00907em;
}

.a5c49ad5-f7ef-462f-b37b-cee172d80c3f {
  letter-spacing: -0.00991em;
}

.f01e4ab8-cc91-4b56-8d1d-471dcede35c1 {
  letter-spacing: 0.00014em;
}

// Style from OverflowInstructions6.svg

.a89d3ba1-7dcb-4dc4-a945-a57a8d94c5c9 {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
}

.ae2fb8ab-ac91-4382-89f9-1bc2668f1d96 {
  letter-spacing: -0.00893em;
}

.eaff6aaf-cfb8-40c7-9cc1-b0fb823c010b {
  letter-spacing: -0.01004em;
}

// Style from OverflowInstructions7.svg

.ae1b9017-5387-4d4d-802f-1e164c22a24c {
  font-size: 7px;
  font-family: UniversLTStd-CnObl, Univers LT Std;
  // font-style: oblique;
  letter-spacing: -0.03892em;
}

.b1d46de1-c043-4945-8a99-5c5753e70f37 {
  letter-spacing: -0.01004em;
}

.b9acb6b5-d47b-475f-ade7-7b2903f84050 {
  letter-spacing: -0.00893em;
}

.eb0aad41-fad1-4712-a2f3-8547a5594a54 {
  letter-spacing: -0.00907em;
}

.a1db5b2b-f927-4005-af71-f32557e71b40 {
  letter-spacing: -0.00991em;
}

.a9af15f1-0f90-467b-80ee-8b40a502e625 {
  letter-spacing: 0.00014em;
}

// Style from OverflowInstructions8.svg

.ad512ea2-d1b3-4103-8de6-2d23680bb2b2 {
  font-size: 7px;
  font-family: UniversLTStd-Cn, Univers LT Std;
}

.b5b38a93-beee-4a31-8b68-ef7368425e21 {
  letter-spacing: -0.00893em;
}

.f3c7ecc9-e57e-4fd0-be8e-29f473df0608 {
  letter-spacing: -0.00991em;
}

.ae15fd9b-0868-4edc-b294-9465cf6a9c6a {
  letter-spacing: -0.00907em;
}
