.metatext {
  width: 594pt;
  height: 739.38544pt;
  left: 18.54434pt;
  top: 12.45831pt;
  position: absolute;
}

.character {
  width: 103.18725pt;
  height: 11.712525pt;
  left: #{411.36093}pt;
  top: #{24.36151 - 12.45831}pt;
  font-size: 8.5pt;
  font-family: Friz Quadrata Std Regular;
  background-color: transparent;
  position: absolute;
  padding: 0;
  border: none;
}

.player {
  width: 115.67475pt;
  height: 11.712525pt;
  left: #{392.48105}pt;
  top: #{37.36151 - 12.45831}pt;
  font-size: 8.5pt;
  font-family: Friz Quadrata Std Regular;
  background-color: transparent;
  position: absolute;
  padding: 0;
  border: none;
}

.notes {
  width: 119.83725pt;
  height: 11.712525pt;
  left: #{386.08163}pt;
  top: #{50.36151 - 12.45831}pt;
  font-size: 8.5pt;
  font-family: Friz Quadrata Std Regular;
  background-color: transparent;
  position: absolute;
  padding: 0;
  border: none;
}
