// Information from the PDF
$pixel-to-point-ratio: 0.7196715192235909pt;
$point-to-pixel-ratio: 1 / $pixel-to-point-ratio;

$page-width: 612pt;
$page-height: 765pt;

$background-offset-x: -10.03pt;
$background-offset-y: -9pt;
$background-width: 642.667pt;
$background-height: 783pt;

$shadowrun-logo-offset-x: 18.544pt;
$shadowrun-logo-offset-y: 12.458pt;
$shadowrun-logo-width: 339.682pt;
$shadowrun-logo-height: 58.991pt;

$shadowrun-logo-shadow-offset-x: 30.348pt;
$shadowrun-logo-shadow-offset-y: 15.372pt;
$shadowrun-logo-shadow-width: 318pt;
$shadowrun-logo-shadow-height: 56.4pt;

$trademark-offset-x: 342.593pt;
$trademark-offset-y: 18.154pt;
$trademark-width: 5.863pt;
$trademark-height: 5.831pt;

$footer-offset-x: 84.919pt;
$footer-offset-y: 745.321pt;
$footer-width: 460.666pt;
$footer-height: 6.522pt;
$footer-line-spacing: 1.2;
$footer-paragraph-spacing: 0;
$footer-character-spacing: 0;

// Styles from skills branch

$page-background: rgb(255, 255, 255);
$page-shadow: rgb(51, 51, 51);

$debug-scale: 1;

@font-face {
    font-family: 'Univers LT Std';
    src: url('./GKFLFT+UniversLTStd-Cn.woff2') format('woff2');
}

// Dimensions

body {
    margin: 0;
}

.character-sheet {
    @media screen {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
        overflow: auto;
        width: 100vw;
        height: 100vh;
    }
    @media print {
        background: transparent;
        overflow: visible; 
    }
}

$page: '.character-sheet-page';

#{$page} {
    background-color: $page-background;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: $page-height;
    width: $page-width;
    @media screen {
        box-shadow: 1px 1px 3px 1px $page-shadow;
        margin: auto;
    }
    @media print {
        box-shadow: none;
        margin: 0;
        page-break-after: always;
        page-break-inside: avoid;
    }
}

#{$page} .background {
    z-index: -1;
    position: absolute;
}

.rendered {
    #{$page} .background {
        width: 100%;
        height: 100%;
    }

    #{$page}:nth-child(1) .background {
        content: url('./CAT27000_Shadowrun 5_CharacterSheet Front.png');
    }

    #{$page}:nth-child(2) .background {
        content: url('./CAT27000_Shadowrun 5_CharacterSheet Back.png');
    }

    @each $class in '.shadowrun-logo', '.footer' {
        #{$page} #{$class} {
            visibility: hidden;
        }
    }
}

.wip {
    #{$page} .background {
        height: percentage($background-height / $page-height);
        left: percentage($background-offset-x / $page-width);
        top: percentage($background-offset-y / $page-height);
        width: percentage($background-width / $page-width);
        content: url('./Background.png');
    }

    #{$page} .shadowrun-logo {
        .logo {
            height: percentage($shadowrun-logo-height / $page-height);
            left: percentage($shadowrun-logo-offset-x / $page-width);
            top: percentage($shadowrun-logo-offset-y / $page-height);
            width: percentage($shadowrun-logo-width / $page-width);
            content: url('./Shadowrun Logo.png');
            z-index: 1;
            position: absolute;
        }

        .shadow {
            height: percentage($shadowrun-logo-shadow-height / $page-height);
            left: percentage($shadowrun-logo-shadow-offset-x / $page-width);
            top: percentage($shadowrun-logo-shadow-offset-y / $page-height);
            width: percentage($shadowrun-logo-shadow-width / $page-width);
            content: url('./Shadowrun Logo Shadow.svg');
            position: absolute;
        }

        .trademark {
            height: percentage($trademark-height / $page-height);
            left: percentage($trademark-offset-x / $page-width);
            top: percentage($trademark-offset-y / $page-height);
            width: percentage($trademark-width / $page-width);
            content: url('./Trademark.svg');
            position: absolute;
        }
    }

    #{$page} .footer {
        height: percentage($footer-height / $page-height);
        left: percentage($footer-offset-x / $page-width);
        top: percentage($footer-offset-y / $page-height);
        width: percentage($footer-width / $page-width);
        position: absolute;
        font-family: 'Univers LT Std';
        font-size: 6pt;
        text-align: left;
        line-height: $footer-line-spacing;
        font-stretch: condensed;
        letter-spacing: $footer-character-spacing;
    }
}