// Information from the PDF
$pixel-to-point-ratio: 0.7196715192235909pt;
$point-to-pixel-ratio: 1 / $pixel-to-point-ratio;

$page-width: 612pt;
$page-height: 765pt;

$background-offset-x: -10.03pt;
$background-offset-y: -9pt;
$background-width: 642.667pt;
$background-height: 783pt;

$shadowrun-logo-offset-x: 18.544pt;
$shadowrun-logo-offset-y: 12.458pt;
$shadowrun-logo-width: 339.681pt;
$shadowrun-logo-height: 58.991pt;

// Styles from skills branch

$page-background: rgb(255, 255, 255);
$page-shadow: rgb(51, 51, 51);

$debug-scale: 1;

// Approved styles

// Dimensions

body {
    margin: 0;
}

.character-sheet {
    @media screen {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
        overflow: auto;
        width: 100vw;
        height: 100vh;
    }
    @media print {
        background: transparent;
        overflow: visible; 
    }
}

$page: '.character-sheet-page';

#{$page} {
    background-color: $page-background;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: $page-height;
    width: $page-width;
    @media screen {
        box-shadow: 1px 1px 3px 1px $page-shadow;
        margin: auto;
    }
    @media print {
        box-shadow: none;
        margin: 0;
        page-break-after: always;
        page-break-inside: avoid;
    }
}

#{$page} .background {
    z-index: -1;
    position: absolute;
}

.rendered {
    #{$page} .background {
        width: 100%;
        height: 100%;
    }

    #{$page}:nth-child(1) .background {
        content: url('./CAT27000_Shadowrun 5_CharacterSheet Front.png');
    }

    #{$page}:nth-child(2) .background {
        content: url('./CAT27000_Shadowrun 5_CharacterSheet Back.png');
    }

    #{$page} .shadowrun-logo {
        visibility: hidden;
    }
}

.wip {
    #{$page} .background {
        height: percentage($background-height / $page-height);
        width: percentage($background-width / $page-width);
        left: percentage($background-offset-x / $page-width);
        top: percentage($background-offset-y / $page-height);
        content: url('./Background.png');
    }

    #{$page} .shadowrun-logo {
        .logo {
            height: percentage($shadowrun-logo-height / $page-height);
            width: percentage($shadowrun-logo-width / $page-width);
            left: percentage($shadowrun-logo-offset-x / $page-width);
            top: percentage($shadowrun-logo-offset-y / $page-height);
            content: url('./Shadowrun Logo.png');
            position: absolute;
        }
    }
}