@mixin create-font-face($name) {
  @font-face {
    font-family: $name;
    src: url(#{$name}.woff) format('woff');
  }
}

@mixin media-units($name, $value) {
  @media screen {
    #{$name}: #{$value}px;
  }
  @media print {
    #{$name}: #{$value}pt;
  }
}

@mixin bottom($bottom) {
  @include media-units(bottom, $bottom);
}

@mixin font-size($font-size) {
  @include media-units(font-size, $font-size);
}

@mixin height($height) {
  @include media-units(height, $height);
}

@mixin left($left) {
  @include media-units(left, $left);
}

@mixin letter-spacing($letter-spacing) {
  @include media-units(letter-spacing, $letter-spacing);
}

@mixin margin-left($margin-left) {
  @include media-units(margin-left, $margin-left);
}

@mixin right($right) {
  @include media-units(right, $right);
}

@mixin top($top) {
  @include media-units(top, $top);
}

@mixin width($width) {
  @include media-units(width, $width);
}

@include create-font-face(copyright);
@include create-font-face(header);

// Colors
$black-text: #272425;
$page-background: #fff;
$page-shadow: #333;

$page-width: 612;
$page-height: 765;

%no-boundary {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.pdf {
  @media screen {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=');
    overflow: auto;
  }
  @media print {
    background: transparent;
    overflow: visible;

  }
}

.pdf-page {
  @include width($page-width);
  @include height($page-height);
  background-color: $page-background;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  @media screen {
    box-shadow: 1px 1px 3px 1px $page-shadow;
    margin: 13px auto;
  }
  @media print {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
    page-break-inside: avoid;
  }
}

.pdf-page-content {
  @include width(2550);
  @include height(3188);
  opacity: .5;
  transform: scale(.24);
  transform-origin: left top;
}

// scss-lint:disable IdSelector
#character-sheet-front {
  background-image: url('CAT27000_Shadowrun%205_CharacterSheet%20Front.png');
}

#character-sheet-back {
  background-image: url('CAT27000_Shadowrun%205_CharacterSheet%20Back.png');
}
// scss-lint:enable IdSelector

.background {
  height: 100%;
  user-select: none;
  width: 100%;
}

.copyright {
  @include width(1849);
  @include height(24);
  @include left(354);
  @include bottom(57);
  // 24.75 works best, but it causes Safari to split the text between
  // multiple lines.
  // 24.5 is where Safari splits the text onto a second line.
  @include font-size(24.49999);
  color: $black-text;
  font-family: copyright;
  line-height: .8;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  text-align-last: justify;

  // Once Safari 8 is no longer supported we can add the feature query.
  // Unfortunately, Safari 8 neither supports feature queries nor
  // text-align-last.
  // @supports not (text-align-last: justify) {
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  // }
}

.name {
  @include width(909);
  @include height(162);
  @include right(116);
  @include top(100);
  @include font-size(34);
  color: $black-text;
  font-family: header;
  position: absolute;

  fieldset {
    @extend %no-boundary;
    @include height(54.5);
    position: relative;
  }

  label {
    @include bottom(0);
    @include letter-spacing(-.75);
    line-height: .8;
    position: absolute;
  }

  input {
    @extend %no-boundary;
    @include height(41);
    @include right(0);
    @include bottom(-1);
    @include font-size(33);
    background-color: transparent;
    position: absolute;
  }
}

[name=character-name] {
  .line {
    @include margin-left(3);
    @include letter-spacing(-4.8);
  }

  input {
    @include width(642);
  }
}

[name=player-name] {
  .line {
    @include margin-left(10);
    @include letter-spacing(-5.15);
  }

  input {
    @include width(723);
  }
}

[name=notes] {
  .line {
    @include margin-left(10);
    @include letter-spacing(-5.2);
  }

  input {
    @include width(750);
  }
}
