$black: #272425;

$page-width: 612;
$page-height: 765;

@mixin create-font-face($name) {
  @font-face {
    font-family: $name;
    src: url(#{$name}.woff) format("woff");
  }
}

@mixin bottom($bottom) {
  @media screen {
    bottom: #{$bottom}px;
  }
  @media print {
    bottom: #{$bottom}pt;
  }
}

@mixin font-size($font-size) {
  @media screen {
    font-size: #{$font-size}px;
  }
  @media print {
    font-size: #{$font-size}pt;
  }
}

@mixin height($height) {
  @media screen {
    height: #{$height}px;
  }
  @media print {
    height: #{$height}pt;
  }
}

@mixin left($left) {
  @media screen {
    left: #{$left}px;
  }
  @media print {
    left: #{$left}pt;
  }
}

@mixin letter-spacing($letter-spacing) {
  @media screen {
    letter-spacing: #{$letter-spacing}px;
  }
  @media print {
    letter-spacing: #{$letter-spacing}pt;
  }
}

@mixin margin-left($margin-left) {
  @media screen {
    margin-left: #{$margin-left}px;
  }
  @media print {
    margin-left: #{$margin-left}pt;
  }
}

@mixin right($right) {
  @media screen {
    right: #{$right}px;
  }
  @media print {
    right: #{$right}pt;
  }
}

@mixin top($top) {
  @media screen {
    top: #{$top}px;
  }
  @media print {
    top: #{$top}pt;
  }
}

@mixin width($width) {
  @media screen {
    width: #{$width}px;
  }
  @media print {
    width: #{$width}pt;
  }
}

@include create-font-face(copyright);
@include create-font-face(header);

.no-boundary {
  margin: 0;
  border: none;
  padding: 0;
}

body {
  margin: 0;
}

.pdf {
  @media screen {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
    overflow: auto;
  }
  @media print {
    overflow: visible;
    background: transparent;
  }
}

.pdf-page {
  @include width($page-width);
  @include height($page-height);
  background-size: 100% 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  @media screen {
    margin: 13px auto;
    box-shadow: 1px 1px 3px 1px #333333;
  }
  @media print {
    margin: 0pt;
    box-shadow: none;
    page-break-after: always;
    page-break-inside: avoid;
  }
}

.pdf-page-content {
  @include width(2550);
  @include height(3188);
  transform: scale(0.24);
  transform-origin: left top;
  opacity: 0.5;
}

#character-sheet-front {
    background-image: url("CAT27000_Shadowrun 5_CharacterSheet Front.png");
}

#character-sheet-back {
    background-image: url("CAT27000_Shadowrun 5_CharacterSheet Back.png");
}

.background {
  width: 100%;
  height: 100%;
  user-select: none;
}

.copyright {
  @include width(1849);
  @include height(24);
  @include left(354);
  @include bottom(57);
  // 24.75 works best, but it causes Safari to split the text between
  // multiple lines.
  // 24.5 is where Safari splits the text onto a second line.
  @include font-size(24.49999);
  position: absolute;
  color: $black;
  font-family: copyright;
  line-height: 0.8;
  text-align: justify;
  text-align-last: justify;
  overflow: hidden;

  // Once Safari 8 is no longer supported we can add the feature query.
  // Unfortunately, Safari 8 neither supports feature queries nor
  // text-align-last.
  // @supports not (text-align-last: justify) {
    &::after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  // }
}

.name {
  @include width(909);
  @include height(162);
  @include right(116);
  @include top(100);
  @include font-size(33);
  position: absolute;
  font-family: header;
  color: $black;

  fieldset {
    @extend .no-boundary;
    @include height(54.5);
    position: relative;

    &[name=character-name] {
      .line {
        @include margin-left(1.5);
        @include letter-spacing(-3.95);
      }

      input[type=text] {
        @include width(642);
      }
    }

    &[name=player-name] {
      .line {
        @include margin-left(9);
        @include letter-spacing(-4.25);
      }

      input[type=text] {
        @include width(723);
      }
    }

    &[name=notes] {
      .line {
        @include margin-left(10);
        @include letter-spacing(-4.35);
      }

      input[type=text] {
        @include width(750);
      }
    }
  }

  label {
    @include bottom(0);
    @include letter-spacing(0.25);
    position: absolute;
    line-height: 0.8;
  }

  input[type=text] {
    @extend .no-boundary;
    @include height(41);
    @include right(0);
    @include bottom(-1);
    @include font-size(33);
    position: absolute;
    background-color: transparent;
  }
}