.personal-data-style {
  width: 131.27999pt;
  height: 15.36pt;
  left: #{440.43952 - 274.112}pt;
  top: #{10.35999 + 73.98}pt;
  position: absolute;
}
  
.personal-data-tab {
  width: 129.03999pt;
  height: 13.20001pt;
  left: 167.398pt;
  top: 85.5pt;
  position: absolute;
}
  
.personal-data-text {
  width: 103.49902pt;
  height: 9.8999pt;
  left: 189.137pt;
  top: 87.58pt;
  position: absolute;
}
  
.personal-data-box {
  width: 270.625pt;
  height: 86.89203pt;
  left: 26.1875pt;
  top: 85.50012pt;
  position: absolute;
}

.personal-data-line-1 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 115.636pt;
  position: absolute;
}

.personal-data-line-2 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 128.595pt;
  position: absolute;
}

.personal-data-line-3 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 141.554pt;
  position: absolute;
}

.personal-data-line-4 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 154.513pt;
  position: absolute;
}

.personal-data-line-5 {
  width: 241.56pt;
  height: 0.75pt;
  left: 43.247pt;
  top: 167.472pt;
  position: absolute;
}

.name-primary-alias {
  width: 65.69434pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 107.738pt;
  position: absolute;
}

.metatype {
  width: 26.38281pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 120.678pt;
  position: absolute;
}

.ethnicity {
  width: 24.35986pt;
  height: 7.56006pt;
  left: 153.168pt;
  top: 120.678pt;
  position: absolute;
}

.age {
  width: 11.15088pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 132.921pt;
  position: absolute;
}

.sex {
  width: 10.76611pt;
  height: 7.56006pt;
  left: 97.126pt;
  top: 132.921pt;
  position: absolute;
}

.height {
  width: 18.33301pt;
  height: 7.56006pt;
  left: 151.013pt;
  top: 132.921pt;
  position: absolute;
}

.weight {
  width: 20.11768pt;
  height: 7.56006pt;
  left: 204.892pt;
  top: 132.921pt;
  position: absolute;
}

.street-cred {
  width: 31.25488pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 145.878pt;
  position: absolute;
}

.notoriety {
  width: 25.91357pt;
  height: 7.56006pt;
  left: 123.467pt;
  top: 145.878pt;
  position: absolute;
}

.public-awareness {
  width: 50.98047pt;
  height: 7.56006pt;
  left: 204.898pt;
  top: 145.878pt;
  position: absolute;
}

.karma {
  width: 18.0249pt;
  height: 7.56006pt;
  left: 43.248pt;
  top: 158.835pt;
  position: absolute;
}

.total-karma {
  width: 33.06787pt;
  height: 7.56006pt;
  left: 101.732pt;
  top: 158.835pt;
  position: absolute;
}

.misc {
  width: 14.18896pt;
  height: 7.56006pt;
  left: 175.169pt;
  top: 158.835pt;
  position: absolute;
}

// // Style from PersonalDataText.svg

// .f4b38693-2a0d-4918-976a-35a488b20be1 {
//   font-size: 9px;
//   fill: #fff;
//   font-family: ArmaduraSolid, Armadura Solid;
// }

// // Style from PersonalDataTab.svg

// .fe507905-c9ec-43d9-9c1f-83f5422f68d7 {
//   fill: #7e0f12;
// }

// // Style from PersonalDataStyle.svg
  
// .b20af34a-a9b2-4c99-bbd3-3ad8f63488d6 {
//   fill: none;
// }

// .b8571f8c-46e4-47b4-9fd5-6152932cb251 {
//   isolation: isolate;
// }

// .a6dc3dd4-3f73-49a6-b245-cc96623c8dbe {
//   clip-path: url(#e8fb3d28-c789-422b-b0a2-89cc447f7321);
// }

// .abb586c8-a6ac-4041-b391-870e9f05c130 {
//   opacity: 0.35001;
//   mix-blend-mode: multiply;
// }

// .ad024c62-f3e5-4073-bb6f-4aff19a81fea {
//   clip-path: url(#b014e110-55cd-4448-b045-1cd26aa208ef);
// }

// .e2b2f5a4-f6de-4954-82c0-a1bc1b4e3c10 {
//   clip-path: url(#eaf8c7cf-df38-48a2-9539-4986db427975);
// }
  
// // Style from PersonalDataBox.svg
  
// .bf7625a0-5048-4fbd-b745-b4574f2462b2 {
//   fill: url(#b2b78bad-628c-4ad1-886e-54c481ffb89b);
// }

// .a23cfe48-2493-4d50-9ac4-8c45c4254807 {
//   fill: url(#ef479d0a-8ee3-42aa-8c38-40052c631e20);
// }

// .a7adc84f-0b36-45b4-b93a-bee1713269d6, .b961d614-9056-4289-af5f-d1ed718a5bc2, .fe0c7bca-4e63-4feb-8c12-96e949209f9c {
//   fill: none;
// }

// .ad81a0c2-cd08-4869-a495-73176ec22607 {
//   clip-path: url(#aef48779-fe4f-4089-bf49-44cc7a554fe3);
// }

// .ad556b6a-8154-4682-aefc-ee238f130936 {
//   mask: url(#bc396750-eddd-4521-98d1-3ed617ae71d7);
// }

// .af69ff91-1e14-4160-bcc9-37b74469ae38 {
//   clip-path: url(#abf5bf5a-82e4-402a-bf7f-60e73324599f);
// }

// .a7adc84f-0b36-45b4-b93a-bee1713269d6, .fe0c7bca-4e63-4feb-8c12-96e949209f9c {
//   stroke: #7e0f12;
// }

// .a7adc84f-0b36-45b4-b93a-bee1713269d6 {
//   stroke-width: 0.75px;
// }

// .f4ac5910-215e-412a-bfab-d70b27991100 {
//   clip-path: url(#bb7a05db-842d-47cf-af7d-72b3814b4097);
// }

// // Style from PersonalDataLine.svg

// .a982100a-679e-4a2e-8770-cf36ff9305bd {
//   fill: none;
//   stroke: #6d6e70;
//   stroke-width: 0.75px;
// }

// // Style from NamePrimaryAlias.svg

// .b85cc5f4-c036-4e9e-a2b5-57c1207758a9 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .b260d5b6-dd25-4a0e-bac0-47be21b1fff9 {
//   letter-spacing: -0.009em;
// }

// .b2e1a7cb-cc4b-4030-a133-4ff270d42275 {
//   letter-spacing: -0.00997em;
// }

// .eae13d32-876a-44c1-bf59-ae932ea103e4 {
//   letter-spacing: -0.02504em;
// }

// // Style from Metatype.svg

// .ac72a7b6-dfc2-4d88-9b76-6d520816c6eb {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .fdc835f0-8ed6-4324-8be7-c8ec4d305c5c {
//   letter-spacing: -0.009em;
// }

// .b2d25862-7b45-47df-bff6-2c27d25ba75c {
//   letter-spacing: -0.00997em;
// }

// // Style from Ethnicity.svg

// .e4544348-b1ff-4772-a04b-95244e66a059 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .efaafe53-4153-48cf-8889-aded5f2d28f1 {
//   letter-spacing: -0.00997em;
// }

// .bb94884d-56f5-446b-ad1f-d460d45e4024 {
//   letter-spacing: -0.009em;
// }

// // Style from Age.svg

// .b34ef0fe-fbe9-4668-be8e-201ecc57e28f {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .ba9f09b1-feb4-4bac-b4fe-33a3229e95f3 {
//   letter-spacing: -0.009em;
// }

// // Style from Sex.svg

// .a2ba3643-4531-454e-9a90-fc44adca5396 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .ab80eb16-e1b6-49ce-ba8d-285197885549 {
//   letter-spacing: -0.009em;
// }

// // Style from Height.svg

// .fd0ebb12-d7d9-4417-8dc2-f4ecc62f7426 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
//   letter-spacing: -0.009em;
// }

// .af5f8a2e-e802-4f0c-bf67-f016145042f9 {
//   letter-spacing: -0.00997em;
// }

// .b00f1d21-74ff-4f72-b550-0e8aa1cfc193 {
//   letter-spacing: -0.01004em;
// }

// .a8ff15ac-0bc1-41fb-8446-ec210cd57933 {
//   letter-spacing: 0.00007em;
// }

// // Style from Weight.svg

// .ef1da4d5-ae96-463f-97e3-7d06e4da8c41 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .ac7b1b8a-0c41-49e5-a1c2-d89beffb8e80 {
//   letter-spacing: -0.03404em;
// }

// .a1eacd1d-381e-4be8-93d9-96befcc0b447 {
//   letter-spacing: -0.00997em;
// }

// .e4f8b71f-70e8-4656-a16d-e88f0f590fb9 {
//   letter-spacing: -0.009em;
// }

// // Style from StreetCred.svg

// .e4c639d5-813c-46c7-a528-49d3d9c40b85 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .ada6109d-749d-4905-b136-1b276597b559 {
//   letter-spacing: -0.009em;
// }

// .a91a5a36-061f-405a-b232-63a89db745b9 {
//   letter-spacing: -0.00997em;
// }

// // Style from Notoriety.svg

// .b41b6d88-d770-43f9-9f18-4dc8c8cc0b8a {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a3fbf5fa-381b-4f2c-8810-52616e6c9157 {
//   letter-spacing: -0.009em;
// }

// .b0bf2e51-8ea9-4457-9162-be855fa20d9d {
//   letter-spacing: -0.00997em;
// }

// .ac121fe5-686e-4310-9c9f-301e67cd7438 {
//   letter-spacing: -0.01004em;
// }

// // Style from PublicAwareness.svg

// .b27b80da-c01f-4562-b29f-e041e37e1e81 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .bbfc37b5-0e0b-4a49-8af7-42cccb7caa93 {
//   letter-spacing: -0.01004em;
// }

// .bd231c44-11ca-49d9-9516-ac8bd6bbb44b {
//   letter-spacing: -0.009em;
// }

// .a2adeb8d-1d81-4b14-8f99-914bc46c7c1f {
//   letter-spacing: -0.00997em;
// }

// .b69663b7-fb4b-4b50-a5ea-76aeb833a7d0 {
//   letter-spacing: -0.02797em;
// }

// // Style from Karma.svg

// .b896f44e-660f-4da7-8d53-09f783c7ebe9 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .f49ca024-833a-47a5-967d-7b3d08127d72 {
//   letter-spacing: -0.009em;
// }

// // Style from TotalKarma.svg

// .af62ce9e-461e-44a1-81c1-b7675260763f {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .afa71417-61c4-4d7e-b6de-be92cf925503 {
//   letter-spacing: -0.08301em;
// }

// .a8d701ba-fd04-412a-83e2-a1c23be4411a {
//   letter-spacing: -0.009em;
// }

// .fb116429-d18e-4f2c-8f9b-b67274a6ce2e {
//   letter-spacing: -0.00997em;
// }

// .bb789bd4-455a-4539-8057-25a16b294159 {
//   letter-spacing: -0.00907em;
// }

// // Style from Misc.svg

// .f902a47a-1af1-42e3-88d1-2bf9e180c772 {
//   font-size: 7px;
//   font-family: UniversLTStd-BoldCn, Univers LT Std;
//   // font-weight: 700;
// }

// .a15dbb67-3f95-4487-a756-54365b7e910a {
//   letter-spacing: -0.009em;
// }

// .f3fbf853-d2ae-426c-8f95-1e63b48473c2 {
//   letter-spacing: -0.00997em;
// }
