.gear-box {
  position: absolute;
  width: 270.625pt;
  height: 254.90501pt;
  left: 26.4375pt;
  top: 474.27509pt;
}

.gear-tab {
  position: absolute;
  width: 136.03999pt;
  height: 13.20001pt;
  left: 160.648pt;
  top: 474.275pt;
}

.gear-style {
  position: absolute;
  width: 138.23999pt;
  height: 15.36pt;
  left: #{219.87998 - 60.333}pt;
  top: #{29.32007 + 443.875}pt;
}

.gear-text {
  position: absolute;
  width: 32.03955pt;
  height: 9.89941pt;
  left: 260.847pt;
  top: 476.36pt;
}

%gear-line {
  position: absolute;
  width: 241.56pt;
  height: 0.75pt;
  left: 43.497pt;
}

.gear-line-1 {
  @extend %gear-line;
  top: 504.411pt;
}

.gear-line-2 {
  @extend %gear-line;
  top: 515.715pt;
}

.gear-line-3 {
  @extend %gear-line;
  top: 527.235pt;
}

.gear-line-4 {
  @extend %gear-line;
  top: 538.755pt;
}

.gear-line-5 {
  @extend %gear-line;
  top: 550.275pt;
}

.gear-line-6 {
  @extend %gear-line;
  top: 561.795pt;
}

.gear-line-7 {
  @extend %gear-line;
  top: 573.315pt;
}

.gear-line-8 {
  @extend %gear-line;
  top: 584.835pt;
}

.gear-line-9 {
  @extend %gear-line;
  top: 596.355pt;
}

.gear-line-10 {
  @extend %gear-line;
  top: 607.875pt;
}

.gear-line-11 {
  @extend %gear-line;
  top: 619.395pt;
}

.gear-line-12 {
  @extend %gear-line;
  top: 630.915pt;
}

.gear-line-13 {
  @extend %gear-line;
  top: 642.435pt;
}

.gear-line-14 {
  @extend %gear-line;
  top: 653.955pt;
}

.gear-line-15 {
  @extend %gear-line;
  top: 665.475pt;
}

.gear-line-16 {
  @extend %gear-line;
  top: 676.995pt;
}

.gear-line-17 {
  @extend %gear-line;
  top: 688.515pt;
}

.gear-line-18 {
  @extend %gear-line;
  top: 700.035pt;
}

.gear-line-19 {
  @extend %gear-line;
  top: 711.555pt;
}

.gear-line-20 {
  @extend %gear-line;
  top: 723.075pt;
}

.gear-name {
  position: absolute;
  width: 12.25684pt;
  height: 7.55957pt;
  left: 43.504pt;
  top: 493.979pt;
}

.gear-rating {
  position: absolute;
  width: 17.94775pt;
  height: 7.55957pt;
  left: 267.133pt;
  top: 493.979pt;
}

// Style from GearBox.svg

.a4b1d0ec-ff13-4f9b-a533-e8c8c21724bb {
  fill: url(#a8ac5ded-3ca3-4b9d-b1df-2a163fe16130);
}

.e6250ccc-303d-444a-a55a-6849586e53bb {
  fill: url(#b5384364-1491-4bfb-ae17-32f37e993962);
}

.ae9a9310-32ad-4694-bce1-6a6c061cf1f4, .ba4536dd-ad3f-4839-8abb-a6140ba88677, .bbf4a0c3-5bc0-4f5c-979b-2a316f70e597 {
  fill: none;
}

.b9094b70-82dd-4e5c-919d-072d005d0c0f {
  clip-path: url(#b0617f3a-b6b5-4d5e-843c-0cd1d311b918);
}

.efcc654b-dd9c-41e4-a55e-08f5a12a5e27 {
  mask: url(#fde0099f-17af-424a-b651-67a0d736434d);
}

.fc8d9992-28c2-402e-9812-c845312e85a6 {
  clip-path: url(#ebfdd75d-4f56-43a4-b09b-e48c1095e6d5);
}

.ba4536dd-ad3f-4839-8abb-a6140ba88677, .bbf4a0c3-5bc0-4f5c-979b-2a316f70e597 {
  stroke: #7e0f12;
}

.bbf4a0c3-5bc0-4f5c-979b-2a316f70e597 {
  stroke-width: 0.75px;
}

.f3e7c7e8-ad07-4b35-b3d3-4bd358047912 {
  clip-path: url(#f7e9b927-ab91-4971-b781-22771abbb316);
}

// Style from GearTab.svg

.af7ddc9a-8692-46a8-aef6-13377d90c4b2 {
  fill: #7e0f12;
}

// Style from GearStyle.svg

.b6d3c416-1eaf-4830-8810-80a6fd2415fc {
  fill: none;
}

.a813547c-476a-451d-9b75-40a19fcc3cac {
  isolation: isolate;
}

.be3f4641-36a3-487c-a619-7287ef1208c0 {
  clip-path: url(#bded2c4f-9510-4bb6-86c1-62174e70c914);
}

.e9c08d30-9879-48ad-8420-9efebb6e0dd5 {
  opacity: 0.35001;
  mix-blend-mode: multiply;
}

.aa4b64e6-3bb8-49de-a43d-0eba1c44205f {
  clip-path: url(#a4143339-21bf-4ba7-b426-44d498ab9b6b);
}

.e5f1cf0c-47b2-49a6-9415-f2c5a33a0028 {
  clip-path: url(#ac92054c-d9e4-4df0-86d4-317351efb378);
}

// Style from GearText.svg

.b235cf9b-7156-4c20-88e2-f8a0bac79da5 {
  font-size: 9px;
  fill: #fff;
  font-family: ArmaduraSolid, Armadura Solid;
}

// Style from GearLine.svg

.b8beccef-fa22-4a9d-a5ba-b2f2d3eaecf5 {
  fill: none;
  stroke: #6d6e70;
  stroke-width: 0.75px;
}

// Style from GearName.svg

.af67458e-5e34-4812-bf24-3a85e2e1679a {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.b6d6d794-6d76-45c8-be2d-90c2ebd11c09 {
  letter-spacing: -0.009em;
}

// Style from GearRating.svg

.beb7fc15-5584-4b92-bd5f-7c2c79f11f43 {
  font-size: 7px;
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  // font-weight: 700;
}

.b754cc24-b32f-4582-a0d2-c53fe4d82946 {
  letter-spacing: -0.01004em;
}

.ffaa2354-05b8-4291-b31d-6cc169cb1543 {
  letter-spacing: -0.009em;
}
