.attributes-tab {
  width: 103.04001pt;
  height: 13.20001pt;
  left: 193.397pt;
  top: 181.016pt;
  position: absolute;
}

.attributes-style {
  width: 105.36pt;
  height: 15.36pt;
  left: #{466.35951 - 274.112}pt;
  top: #{10.35962 + 169.496}pt;
  position: absolute;
}

.attributes-box {
  width: 270.625pt;
  height: 164.892pt;
  left: 26.1875pt;
  top: 181.01563pt;
  position: absolute;
}

.attributes-text {
  width: 76.67969pt;
  height: 9.8999pt;
  left: 215.957pt;
  top: 183.088pt;
  position: absolute;
}

%attributes-key-odd {
  width: 37.925pt;
  height: 0.75pt;
  left: 39.248pt;
  position: absolute;
}

%attributes-key-even {
  width: 53.01001pt;
  height: 0.75pt;
  left: 159.57pt;
  position: absolute;
}

.attributes-key-1 {
  @extend %attributes-key-odd;
  top: 211.152pt;
}

.attributes-key-2 {
  @extend %attributes-key-even;
  top: 211.152pt;
}

.attributes-key-3 {
  @extend %attributes-key-odd;
  top: 224.11pt;
}

.attributes-key-4 {
  @extend %attributes-key-even;
  top: 224.11pt;
}

.attributes-key-5 {
  @extend %attributes-key-odd;
  top: 237.07pt;
}

.attributes-key-6 {
  @extend %attributes-key-even;
  top: 237.07pt;
}

.attributes-key-7 {
  @extend %attributes-key-odd;
  top: 250.029pt;
}

.attributes-key-8 {
  @extend %attributes-key-even;
  top: 250.029pt;
}

.attributes-key-9 {
  @extend %attributes-key-odd;
  top: 262.988pt;
}

.attributes-key-10 {
  @extend %attributes-key-even;
  top: 262.988pt;
}

.attributes-key-11 {
  @extend %attributes-key-odd;
  top: 275.947pt;
}

.attributes-key-12 {
  @extend %attributes-key-even;
  top: 275.947pt;
}

.attributes-key-13 {
  @extend %attributes-key-odd;
  top: 288.906pt;
}

.attributes-key-14 {
  @extend %attributes-key-even;
  top: 288.906pt;
}

.attributes-key-15 {
  @extend %attributes-key-odd;
  top: 301.865pt;
}

.attributes-key-16 {
  @extend %attributes-key-even;
  top: 301.865pt;
}

.attributes-key-17 {
  @extend %attributes-key-odd;
  top: 314.273pt;
}

.attributes-key-18 {
  @extend %attributes-key-even;
  top: 314.273pt;
}

.attributes-key-19 {
  @extend %attributes-key-odd;
  top: 327.232pt;
}

.attributes-key-20 {
  @extend %attributes-key-even;
  top: 327.232pt;
}

%attributes-value-odd {
  width: 66.068pt;
  height: 0.75pt;
  left: 84.732pt;
  position: absolute;
}

%attributes-value-even {
  width: 69.42801pt;
  height: 0.75pt;
  left: 219.292pt;
  position: absolute;
}

.attributes-value-1 {
  @extend %attributes-value-odd;
  top: 211.152pt;
}

.attributes-value-2 {
  @extend %attributes-value-even;
  top: 211.152pt;
}

.attributes-value-3 {
  @extend %attributes-value-odd;
  top: 224.11pt;
}

.attributes-value-4 {
  @extend %attributes-value-even;
  top: 224.11pt;
}

.attributes-value-5 {
  @extend %attributes-value-odd;
  top: 237.07pt;
}

.attributes-value-6 {
  @extend %attributes-value-even;
  top: 237.07pt;
}

.attributes-value-7 {
  @extend %attributes-value-odd;
  top: 250.029pt;
}

.attributes-value-8 {
  @extend %attributes-value-even;
  top: 250.029pt;
}

.attributes-value-9 {
  @extend %attributes-value-odd;
  top: 262.988pt;
}

.attributes-value-10 {
  @extend %attributes-value-even;
  top: 262.988pt;
}

.attributes-value-11 {
  @extend %attributes-value-odd;
  top: 275.947pt;
}

.attributes-value-12 {
  @extend %attributes-value-even;
  top: 275.947pt;
}

.attributes-value-13 {
  @extend %attributes-value-odd;
  top: 288.906pt;
}

.attributes-value-14 {
  @extend %attributes-value-even;
  top: 288.906pt;
}

.attributes-value-15 {
  @extend %attributes-value-odd;
  top: 301.865pt;
}

.attributes-value-16 {
  @extend %attributes-value-even;
  top: 301.865pt;
}

.attributes-value-17 {
  @extend %attributes-value-odd;
  top: 314.273pt;
}

.attributes-value-18 {
  @extend %attributes-value-even;
  top: 314.273pt;
}

.attributes-value-20 {
  @extend %attributes-value-even;
  top: 327.232pt;
}

.attributes-limits {
  width: 245.407pt;
  height: 0.75pt;
  left: 43.248pt;
  top: 345.2pt;
  position: absolute;
}

%attributes-edge-point {
  width: 9pt;
  height: 10.39237pt;
  top: 317.269pt;
  position: absolute;
}

.attributes-edge-point-1 {
  @extend %attributes-edge-point;
  left: 83.37pt;
}

.attributes-edge-point-2 {
  @extend %attributes-edge-point;
  left: 91.847pt;
}

.attributes-edge-point-3 {
  @extend %attributes-edge-point;
  left: 100.325pt;
}

.attributes-edge-point-4 {
  @extend %attributes-edge-point;
  left: 108.802pt;
}

.attributes-edge-point-5 {
  @extend %attributes-edge-point;
  left: 117.279pt;
}

.attributes-edge-point-6 {
  @extend %attributes-edge-point;
  left: 125.757pt;
}

.attributes-edge-point-7 {
  @extend %attributes-edge-point;
  left: 134.234pt;
}

.attributes-edge-point-8 {
  @extend %attributes-edge-point;
  left: 142.711pt;
}

%attribute-key {
  height: 7.56006pt;
  position: absolute;
}

%attribute-value {
  height: 7.56006pt;
  position: absolute;
  font-family: Friz Quadrata Std Regular;
  font-size: 7.5pt;
  text-align: center;
}

.attributes-body>svg {
  @extend %attribute-key;
  width: 14.18896pt;
  left: 60.998pt;
  top: 203.254pt;
}

.attributes-body>div {
  @extend %attribute-value;
  width: 66.068pt;
  // left: #{60.998 + 14.18896}pt;
  left: 84.732pt;
  top: 203.254pt;
}

.attributes-body input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-essence {
  @extend %attribute-key;
  width: 23.32373pt;
  left: 187.173pt;
  top: 203.254pt;
}

.attributes-agility>svg {
  @extend %attribute-key;
  width: 18.29102pt;
  left: 56.924pt;
  top: 216.193pt;
}

.attributes-agility>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 216.193pt;
}

.attributes-agility input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-magic-resonance {
  @extend %attribute-key;
  width: 50.79199pt;
  left: 159.726pt;
  top: 216.193pt;
}

.attributes-reaction>svg {
  @extend %attribute-key;
  width: 24.84277pt;
  left: 50.379pt;
  top: 229.136pt;
}

.attributes-reaction>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 229.136pt;
}

.attributes-reaction input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-initiative {
  @extend %attribute-key;
  width: 24.68896pt;
  left: 185.815pt;
  top: 229.136pt;
}

.attributes-strength>svg {
  @extend %attribute-key;
  width: 23.67383pt;
  left: 51.548pt;
  top: 242.08pt;
}

.attributes-strength>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 242.08pt;
}

.attributes-strength input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-matrix-initiative {
  @extend %attribute-key;
  width:  43.76367pt;
  left: 166.817pt;
  top: 242.08pt;
}

.attributes-willpower>svg {
  @extend %attribute-key;
  width:  29.84082pt;
  left: 45.388pt;
  top: 255.022pt;
}

.attributes-willpower>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 255.022pt;
}

.attributes-willpower input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-astral-initiative {
  @extend %attribute-key;
  width:  42.88867pt;
  left: 167.643pt;
  top: 255.022pt;
}

.attributes-logic>svg {
  @extend %attribute-key;
  width:  15.30176pt;
  left: 59.899pt;
  top: 267.965pt;
}

.attributes-logic>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 267.965pt;
}

.attributes-logic input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-composure {
  @extend %attribute-key;
  width:  31.35986pt;
  left: 179.144pt;
  top: 267.965pt;
}

.attributes-intuition>svg {
  @extend %attribute-key;
  width:  23.22607pt;
  left: 52.003pt;
  top: 280.908pt;
}

.attributes-intuition>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 280.908pt;
}

.attributes-intuition input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-judge-intentions {
  @extend %attribute-key;
  width:  46.44482pt;
  left: 164.073pt;
  top: 280.908pt;
}

.attributes-charisma>svg {
  @extend %attribute-key;
  width:  26.38965pt;
  left: 48.832pt;
  top: 293.852pt;
}

.attributes-charisma>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 293.852pt;
}

.attributes-charisma input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-memory {
  @extend %attribute-key;
  width:  22.99463pt;
  left: 187.495pt;
  top: 293.852pt;
}

.attributes-edge>svg {
  @extend %attribute-key;
  width:  13.8042pt;
  left: 61.383pt;
  top: 306.276pt;
}

.attributes-edge>div {
  @extend %attribute-value;
  width: 66.068pt;
  left: 84.732pt;
  top: 306.276pt;
}

.attributes-edge input {
  width: 1em;
  height: 7.56006pt;
  background: transparent;
  border: none;
  padding: 0pt;
  overflow: hidden;
}

.attributes-lift-carry {
  @extend %attribute-key;
  width:  25.4585pt;
  left: 185.045pt;
  top: 306.276pt;
}

.attributes-edge-points {
  @extend %attribute-key;
  width:  32.81592pt;
  left: 42.427pt;
  top: 319.219pt;
}

.attributes-movement {
  @extend %attribute-key;
  width:  29.48389pt;
  left: 181.02pt;
  top: 319.219pt;
}

.attributes-physical-limit {
  @extend %attribute-key;
  width:  40.71143pt;
  left: 45.57pt;
  top: 337.188pt;
}

.attributes-mental-limit {
  @extend %attribute-key;
  width:  36.53955pt;
  left: 127.547pt;
  top: 337.188pt;
}

.attributes-social-limit {
  @extend %attribute-key;
  width:  34.60059pt;
  left: 209.839pt;
  top: 337.188pt;
}
