@import "variables.scss";

.attributes div.character-sheet-section-body {
  font-family: UniversLTStd-BoldCn, Univers LT Std;
  font-size: 7pt;
  font-weight: normal;
  // color: rgba(0, 255, 255, 0.5);
  
  display: grid;
  grid-template-columns: $attributes-first-key-width $attributes-first-value-width $attributes-second-key-width $attributes-second-value-width;
  margin-left: #{$section-left-margin + $attributes-margin-adjust};
  column-gap: $attributes-gap;
  row-gap: #{$section-line-margin-bottom - 0.375pt};
  row-gap: 3.375pt;

  margin-bottom: $section-line-margin-bottom;
}

.attributes div.character-sheet-section-body>label {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @extend %underline;
}

.attributes label>span:nth-of-type(2n+1) {
  padding-right: 2pt;
}

.attributes label+div {
  text-align: center;
  width: 100%;

  @extend %underline;
}

.attributes label+div.edge-points {
  border: none;
}

.attributes label:nth-of-type(2n) {
  margin-left: $attributes-first-value-right-margin;
}

.attributes .limits {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;

  margin-top: 5pt;

  @extend %underline;

  label, div {
    border: none;
    width: auto;
  }

  div {
    flex-grow: 1;
  }
}

.attributes input {
  font-size: 8.5pt;
  line-height: 8.5pt;
  width: 1em;
}
